<div class="table-container">
  <table class="data-table">
    <thead>
      <tr>
        <th scope="col">Order Date</th>
        <th scope="col">Order ID</th>
        <th scope="col">Sum</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% if(orderList.length==0){ %>
        <button class="more-btn">Load more</button>
        <% } %>
          <% orderList.forEach(function(order) { %>
            <tr>
              <td id="orderDate">
                <%= moment(order.startday).format("DD-MM-YYYY")%>
              </td>
              <td id="orderID">
                <%= order._id %>
              </td>
              <td id="orderSum">
                <%= order.price %>
              </td>
              <td id="orderStatus">Shipping</td>
              <td><button class="btn btn-primary"><i class="fa-solid fa-info"></i></button></td>
            </tr>
            <%})%>
    </tbody>
  </table>
</div>