    <div class="password-container">
      <h2 class="tag_title">Password</h2>
      <p class = "tag_explaint">For your account's safety, you should have a strong password!!!</p>
      <hr class="solid">
      <h3>Change your password</h3>
      <div class="form-container">
        <div class = "input-container">
          <input type="password" class = "form-input" placeholder=" ">
          <label for = "name" class = "form-label">Password</label>
        </div>
        <div class = "input-container">
          <input type="password" class = "form-input" placeholder=" ">
          <label for = "name" class = "form-label">Re-password</label>
        </div>
        <button class ="btn btn-primary" >Save change</button>
      </div>
      <div class="separator"></div>
      <div class="note-container">
        <h4>Note</h4>
        <p>The password must have more than 8 characters</p>
        <p>It must contain 1 special character</p>
        <p>It should be different from your recent password</p>
      </div>
    </div>
