<%- contentFor("head") %> 
<title>Product</title>
<link rel="stylesheet" href="/public/stylesheets/admin/product-page.css">
<%- contentFor("body") %>

<div class="product-container">
    <table>
        <thead>
            <th><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"></th>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Sale</th>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" checked></td>
                <td class = "product-image"><img src="/assets/img/s-product/product.jpg" alt=""></td>
                <td class = "product-name">Ao len sasdfasdfasdsadfas</td>
                <td class = "product-quantity">50</td>
                <td class = "product-price">200.000VND</td>
                <td class = "product-sale">No sale</td>
                <th class = "primary">Details</th>
            </tr>
            <tr>
                <td><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" checked></td>
                <td class = "product-image"><img src="/assets/img/s-product/product.jpg" alt=""></td>
                <td class = "product-name">Ao len</td>
                <td class = "product-quantity">50</td>
                <td class = "product-price">200.000VND</td>
                <td class = "product-sale">No sale</td>
                <th class = "primary">Details</th>
            </tr>
            <tr>
                <td><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" checked></td>
                <td class = "product-image"><img src="/assets/img/s-product/product.jpg" alt=""></td>
                <td class = "product-name">Ao lens</td>
                <td class = "product-quantity">50</td>
                <td class = "product-price">200.000VND</td>
                <td class = "product-sale">No sale</td>
                <th class = "primary">Details</th>
            </tr>
        </tbody>
    </table>
</div>
<%- contentFor("end") %> 

