<%- contentFor("head") %> 

<link rel="stylesheet" href="/public/stylesheets/user-profile-page.css">
<title>User profile</title>
<%- contentFor("body") %>


<div class="user-account-area">
  <div class = "container ">
    <div class="row" id = "menu-area">
        <div class="col-4" id = "tag-area">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile-list">
              <div class="row">
                <div class="col-1">
                  <i class="fa-solid fa-user fa-lg"></i>
                </div>
                <div class="col-11">
                  <p class = "tag_name">Account</p>
                </div>
              </div>
            </a>
            <a class="list-group-item list-group-item-action" id="list-history-list" data-bs-toggle="list" href="#list-history" role="tab" aria-controls="list-history">
              <div class="row">
                <div class="col-1">
                  <i class="fa-solid fa-cart-shopping fa-lg"></i>
                </div>
                <div class="col-11">
                  <p class = "tag_name">Order History</p>
                </div>
              </div>
            </a>
            <a class="list-group-item list-group-item-action" id="list-wishlist-list" data-bs-toggle="list" href="#list-wishlist" role="tab" aria-controls="list-wishlist">
              <div class="row">
                <div class="col-1">
                  <i class="fa-solid fa-heart fa-lg"></i>
                </div>
                <div class="col-11">
                  <p class = "tag_name">Wishlist</p>
                </div>
              </div>
            </a>
            <a class="list-group-item list-group-item-action" id="list-repassword-list" data-bs-toggle="list" href="#list-repassword" role="tab" aria-controls="list-repassword">
             
              <div class="row">
                <div class="col-1">
                  <i class="fa-solid fa-key fa-lg"></i>
                </div>
                <div class="col-11">
                  <p class = "tag_name">Password</p>
                </div>
              </div>
            </a>
            <a class="list-group-item list-group-item-action" id="list-address-list" data-bs-toggle="list" href="#list-address" role="tab" aria-controls="list-address">
              <div class="row">
                <div class="col-1">
                  <i class="fa-solid fa-location-dot fa-lg"></i>
                </div>
                <div class="col-11">
                  <p class = "tag_name">Address Managerment</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-8 content-area" id = "content-area">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
              <div class="account-info-container">
                <h2 class = "tag_title">General</h2>
              <ul class = "inform-list">
                <li class = "inform-item">
                  <p class = "tag">Email</p>
                  <p class = "content">tuantq666@gmail.com</p>
                </li>
                <li class = "inform-item">
                  <p class = "tag" class = "tag">Username</p>
                  <p class = "content">vangxitrum</p>
                </li>
                <li class = "inform-item">
                  <p class = "tag">Name</p>
                  <p class = "content">Trần Quang Tuấn</p>
                </li>
                <li class = "inform-item">
                  <p>Custumer Tie</p>
                  <p class = "content">Gold</p>
                </li>
                <li class = "inform-item">
                  <p class = "tag">Đã tích lũy</p>
                  <p class = "content">10.000.000VND</p>
                </li>
                <li class = "inform-item">
                  <p class = "tag">Joint Date</p>
                  <p class = "content">19/10/2020</p>
                </li>
              </ul>
              <hr class="solid">
              <div class="container avatar-container">
                <div class="avatar-upload">
                    <div class="avatar-edit">
                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                        <label for="imageUpload"><i class="fa-solid fa-pen"></i></label>
                    </div>
                    <div class="avatar-preview">
                        <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);">
                        </div>
                    </div>
                </div>
                <p class = "avatar-note">Choose your avatar</p>
              </div>
              <hr class="solid">
              <h2 class = "tag_title">Personal</h2>
              <div class = "modified-inform-container">
                <form>
                  <div class = "input-container">
                    <input type="text" class = "form-input" placeholder=" ">
                    <label for = "name" class = "form-label">Name</label>
                  </div>
                  <div class = "input-container">
                    <input type="text" class = "form-input" placeholder=" ">
                    <label for = "name" class = "form-label">Phone number</label>
                  </div>
                  <div class = "input-container">
                    <input type="text" class = "form-input" placeholder=" ">
                    <label for = "name" class = "form-label">CMND</label>
                  </div>
                  <div class = "input-container">
                    <select name="sex" id="cars" class = "form-input">
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                      <option value="female">Other</option>
                    </select>
                    <label for = "name" class = "select-label">Sex</label>
                  </div>
                  <button class ="btn btn-primary" >Save</button>
                </form>
              </div>
              </div>

            </div>
            <div class="tab-pane fade" id="list-history" role="tabpanel" aria-labelledby="list-history-list">
              <div class = "history-container">
                <h2 class="tag_title">History</h2>
                <p class = "tag_explaint">Show your previous order's informations</p>
                <hr class="solid">
                <div class="filter-wrapper">
                  <div class = "input-container">
                    <input type="text" class = "form-input" placeholder=" ">
                    <label for = "name" class = "form-label">Search</label>
                  </div>
                  <div class = "input-container">
                    <input type="date" class = "form-input" placeholder=" ">
                    <label for = "name" class = "date-label">From</label>
                  </div>
                  <div class = "input-container">
                    <input type="date" class = "form-input" placeholder=" ">
                    <label for = "name" class = "date-label">To</label>
                  </div>
                  <button class = "btn btn-primary">Filter</button>
                </div>
                <hr class="solid">
                <div class="table-container">
                  <table class = "data-table">
                    <thead>
                      <tr>
                        <th scope="col">Order Date</th>
                        <th scope="col">Order ID</th>
                        <th scope="col">Sum</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td id = "orderDate">19/4/2001</td>
                        <td id = "orderID">12acxs12xv</td>
                        <td id = "orderSum">100.000</td>
                        <td id = "orderStatus">Shipping</td>
                        <td><button class="btn btn-primary"><i class="fa-solid fa-info"></i></button></td>
                      </tr>
                      <tr>
                        <td id = "orderDate">19/4/2001</td>
                        <td id = "orderID">12acxs12xv</td>
                        <td id = "orderSum">100.000</td>
                        <td id = "orderStatus">Shipping</td>
                        <td><button class="btn btn-primary"><i class="fa-solid fa-info"></i></button></td>
                      </tr>
                    </tbody>
                  </table>
                  <button class = "more-btn">Load more</button>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="list-wishlist" role="tabpanel" aria-labelledby="list-wishlist-list">
              <div class="wishlist-container">
                <h2 class="tag_title">Wishlist</h2>
                <p class = "tag_explaint">Your favorite items</p>
                <hr class="solid">
                <div class="table-container">
                  <div class="table_desc">
                    <div class="cart_page table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product_remove">Delete</th>
                                    <th class="product_thumb">Image</th>
                                    <th class="product_name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product_total">Onsale</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                   <td class="product_remove"><a href="#"><i class="fa-solid fa-trash-can"></i></a></td>
                                    <td class="product_thumb"><a href="#"><img src="assets/img/s-product/product.jpg" alt=""></a></td>
                                    <td class="product_name"><a href="#">Handbag fringilla</a></td>
                                    <td class="product-price">£65.00</td>
                                    <td class="product_total">20%</td>
                                </tr>
                                <tr>
                                   <td class="product_remove"><a href="#"><i class="fa-solid fa-trash-can"></i></a></td>
                                    <td class="product_thumb"><a href="#"><img src="assets/img/s-product/product2.jpg" alt=""></a></td>
                                    <td class="product_name"><a href="#">Handbags justo</a></td>
                                    <td class="product-price">£90.00</td>
                                    <td class="product_total">50%</td>


                                </tr>
                                <tr>
                                   <td class="product_remove"><a href="#"><i class="fa-solid fa-trash-can"></i></a></td>
                                    <td class="product_thumb"><a href="#"><img src="assets/img/s-product/product3.jpg" alt=""></a></td>
                                    <td class="product_name"><a href="#">Handbag elit</a></td>
                                    <td class="product-price">£80.00</td>
                                    <td class="product_total">No sale</td>
                                </tr>
                            </tbody>
                        </table>   
                    </div>    
                </div>
                  <button class = "more-btn">Load more</button>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="list-repassword" role="tabpanel" aria-labelledby="list-repassword-list">
              <div class="password-container">
                <h2 class="tag_title">Password</h2>
                <p class = "tag_explaint">For your account's safety, you should have a strong password!!!</p>
                <hr class="solid">
                <h3>Change your password</h3>
                <div class="form-container">
                  <div class = "input-container">
                    <input type="password" class = "form-input" placeholder=" ">
                    <label for = "name" class = "form-label">Password</label>
                  </div>
                  <div class = "input-container">
                    <input type="password" class = "form-input" placeholder=" ">
                    <label for = "name" class = "form-label">Re-password</label>
                  </div>
                  <button class ="btn btn-primary" >Save change</button>
                </div>
                <div class="separator"></div>
                <div class="note-container">
                  <h4>Note</h4>
                  <p>The password must have more than 8 characters</p>
                  <p>It must contain 1 special character</p>
                  <p>It should be different from your recent password</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade " id="list-address" role="tabpanel" aria-labelledby="list-address-list">
              <div class="address-managerment-container ">
                <h2 class="tag_title">Address Managerment</h2>
                <p class = "tag_explaint">Manage your address</p>
                <hr class="solid">
                <button class = "add-address-btn" data-bs-toggle="modal" data-bs-target="#addAddressModal"><i class="fa-solid fa-plus"></i> Add New Address</button>
                <div class="address-item-container">
                  <div class = "info-container">
                    <span class = "name-wrapper">
                      <h5 class = "user-name">Trần Quang Tuấn</h5> <p class="status"><i class="fa-solid fa-check fa-2xs">
                      </i> default address</p>
                    </span>
                    <p class="user-info"><span>Address:</span> 670/2 TNV, Tp.Thu Duc, Ho Chi Minh</p>
                    <p class="user-info"><span>Phone number:</span> (+84) 0823 *** ***</p>
                  </div>
                  <button class="delete-btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAddressModal"><i class="fa-solid fa-trash"></i></button>
                  <button class="modified-btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#modifiedAddressModal"><i class="fa-solid fa-pen"></i></button>
                </div>

                <div class="address-item-container">
                  <div class = "info-container">
                    <span class = "name-wrapper">
                      <h5 class = "user-name">Trần Quang Tuấn</h5>
                    </span>
                    <p class="user-info"><span>Address:</span> Da Lat</p>
                    <p class="user-info"><span>Phone number:</span> (+84) 0823 *** ***</p>
                  </div>
                  <button type="button" class="delete-btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fa-solid fa-trash"></i></button>
                  <button class="modified-btn btn btn-primary"><i class="fa-solid fa-pen"></i></button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
  </div>  
</div>

<div class="modal fade" id="deleteAddressModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Address</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do your want to delete this address?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modifiedAddressModal" tabindex="-1" aria-labelledby="addModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mofify address</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class = "input-container">
          <input type="text" class = "form-input" placeholder=" " name="name" autocomplete="off">
          <label for = "name" class = "form-label">Name</label>
        </div>
        <div class = "input-container">
          <input type="text" class = "form-input" placeholder=" " name="companyName" autocomplete="off">
          <label for = "companyName" class = "form-label">Company's name</label>
        </div>
        <div class = "input-container">
          <input type="text" class = "form-input" placeholder=" " name="phoneNumber" autocomplete="off">
          <label for = "phoneNumber" class = "form-label">Phone number</label>
        </div>
        <div class = "input-container">
          <select name="province" class = "form-input">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="female">Other</option>
          </select>
          <label for = "name" class = "select-label">Province/City</label>
        </div>
        <div class = "input-container">
          <select name="district" class = "form-input">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="female">Other</option>
          </select>
          <label for = "name" class = "select-label">District</label>
        </div>
        <div class = "input-container">
          <select name="subDistrict" id="cars" class = "form-input">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="female">Other</option>
          </select>
          <label for = "name" class = "select-label">Sub-District</label>
        </div>
        <div class = "input-container">
          <input type="text" class = "form-input" placeholder=" " name="address" autocomplete="off">
          <label for = "address" class = "form-label">Address</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="modifiedAddressCheckBox" checked>
          <label class="form-check-label" for="modifiedAddressCheckBox">
            Set as default address
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new address</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class = "input-container">
          <input type="text" class = "form-input" placeholder=" " name="name" autocomplete="off">
          <label for = "name" class = "form-label">Name</label>
        </div>
        <div class = "input-container">
          <input type="text" class = "form-input" placeholder=" " name="companyName" autocomplete="off">
          <label for = "companyName" class = "form-label">Company's name</label>
        </div>
        <div class = "input-container">
          <input type="text" class = "form-input" placeholder=" " name="phoneNumber" autocomplete="off">
          <label for = "phoneNumber" class = "form-label">Phone number</label>
        </div>
        <div class = "input-container">
          <select name="province" class = "form-input">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="female">Other</option>
          </select>
          <label for = "name" class = "select-label">Province/City</label>
        </div>
        <div class = "input-container">
          <select name="district" class = "form-input">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="female">Other</option>
          </select>
          <label for = "name" class = "select-label">District</label>
        </div>
        <div class = "input-container">
          <select name="subDistrict" id="cars" class = "form-input">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="female">Other</option>
          </select>
          <label for = "name" class = "select-label">Sub-District</label>
        </div>
        <div class = "input-container">
          <input type="text" class = "form-input" placeholder=" " name="address" autocomplete="off">
          <label for = "address" class = "form-label">Address</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="addAddressCheckBox">
          <label class="form-check-label" for="addAddressCheckBox">
            Set as default address
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
<%- contentFor("end") %>

<script src="/public/javascripts/user/userprofile-page.js"></script>