<%- contentFor("head") %> 

<link rel="stylesheet" href="/public/stylesheets/user-profile-page.css">
<title>User profile</title>
<%- contentFor("body") %>


<div class="user-account-area">
  <div class = "container ">
    <div class="row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile-list">
              <div class="row">
                <div class="col-1">
                  <i class="fa-solid fa-user fa-lg"></i>
                </div>
                <div class="col-11">
                  <p>Account</p>
                </div>
              </div>
            </a>
            <a class="list-group-item list-group-item-action" id="list-history-list" data-bs-toggle="list" href="#list-history" role="tab" aria-controls="list-history">
              <div class="row">
                <div class="col-1">
                  <i class="fa-solid fa-cart-shopping fa-lg"></i>
                </div>
                <div class="col-11">
                  <p>Order History</p>
                </div>
              </div>
            </a>
            <a class="list-group-item list-group-item-action" id="list-wishlist-list" data-bs-toggle="list" href="#list-wishlist" role="tab" aria-controls="list-wishlist">
              <div class="row">
                <div class="col-1">
                  <i class="fa-solid fa-heart fa-lg"></i>
                </div>
                <div class="col-11">
                  <p>Wishlist</p>
                </div>
              </div>
            </a>
            <a class="list-group-item list-group-item-action" id="list-repassword-list" data-bs-toggle="list" href="#list-repassword" role="tab" aria-controls="list-repassword">
             
              <div class="row">
                <div class="col-1">
                  <i class="fa-solid fa-key fa-lg"></i>
                </div>
                <div class="col-11">
                  <p>Re-Password</p>
                </div>
              </div>
            </a>
            <a class="list-group-item list-group-item-action" id="list-address-list" data-bs-toggle="list" href="#list-address" role="tab" aria-controls="list-address">
              <div class="row">
                <div class="col-1">
                  <i class="fa-solid fa-location-dot fa-lg"></i>
                </div>
                <div class="col-11">
                  <p>Address Managerment</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-8 content-area">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">Profile</div>
            <div class="tab-pane fade" id="list-history" role="tabpanel" aria-labelledby="list-history-list">History</div>
            <div class="tab-pane fade" id="list-wishlist" role="tabpanel" aria-labelledby="list-wishlist-list">Wishlish</div>
            <div class="tab-pane fade" id="list-repassword" role="tabpanel" aria-labelledby="list-repassword-list">Re-password</div>
            <div class="tab-pane fade" id="list-address" role="tabpanel" aria-labelledby="list-address-list">Profile</div>
          </div>
        </div>
      </div>
  </div>  
</div>
