<%- contentFor("head") %> 
<link rel="stylesheet" href="/public/stylesheets/user/verify.css">
<title>Verify</title>
<%- contentFor("body") %>
<% if(verify == true){ %>
    <div class = "background" style="background-color: #198754;">
        <div class = "container" >
            <span class="fas fa-circle-check"></span>
            <h3>Verified!</h3>
            <p>You have successfully verified account.</p> 
            <a href="/login" style="background-color: #198754;">OK</a>
        </div>
    </div>
    
<%}else{%>
    <div class = "background" style="background-color: rgb(177, 80, 80);"s>
        <div class = "container" >
            <span class="fas fa-circle-xmark"></span>
            <h3>Failed!</h3>
            <p>You have failed to verified account.</p> 
            <a href="/login" style="background-color: rgb(177, 80, 80);">OK</a>
        </div>
    </div>
<%}%>

<%- contentFor("end") %>


