<%- contentFor("head") %> 
<title>Dashboard</title>
<link ref = "stylesheet" href="/public/stylesheets/admin/dashboard-page.css">
<%- contentFor("body") %> 


<div class="container">
    <aside>
        <div class="top">
            <div class="logo">
                <img src="/public/assets/img/logo/logo.png" alt="" class="logo">
            </div>
            <span class="material-symbols-sharp">close</span>
        </div>
    </aside>
</div>

<%- contentFor("end") %> 