<div class="widget_list widget_filter">
    <h2>Filter by price</h2>
    <div class="input-wrapper">
        <div class="price-input">
            <span>Min</span>
            <input type="number" class="input-min" value = "50000">
        </div>
        <div class="separator">-</div>
        <div class="price-input">
            <span>Max</span>
            <input type="number" class="input-max" value = "5000000">
        </div>
    </div>
    <div class="range-wrapper">
        <div class="progress"></div>
    </div>
    <div class="range-input">
        <input type="range" class="range-min" min="0" max="5000000" value="2500">
        <input type="range" class="range-max" min="0" max="5000000" value="7500">
    </div>
    <button class="filter-btn">Filter</button>
</div>