<%  if(reviews.length==0){ %>
    <div class="empty_cotainer">empty</div>
    <% } %> 
  <% reviews.forEach(function(item){ -%>
<div class="product_info_inner border-light border-bottom">
    <div class="product_demo name-box">
        <strong><%= item.name %></strong>
    </div>
    <div class="product_ratting mb-10 ">
        <ul>
            <% let i=0 %>
            <% while( i < item.rate){ %>
                <% i++ -%>
            <li><a href=""><i class="fa fa-star"></i></a></li>
            <% }  %>
        </ul>
        <p><%= item.review %></p>
        <p><%= moment(item.date).format('DD-MMM-YYYY') %></p>
    </div>
   
</div>
<% }) -%>
