<%  if(reviews.length==0){ %>
    <div class="empty_cotainer">There are no reviews on this product</div>
    <% } %> 
  <% reviews.forEach(function(item){ -%>
<div class="product_info_inner ">
    <div class="product_demo name-box">
        <h4><%= item.name %></h4>
    </div>
    <div class="product_ratting">
        <ul>
            <% let i=0 %>
            <% while( i < item.rate){ %>
                <% i++ -%>
            <li><a href=""><i class="fa fa-star"></i></a></li>
            <% }  %>
        </ul>
        
    </div>
    <small><%= moment(item.date).format('DD-MMM-YYYY') %></small>
    <p class="review-text"><%= item.review %></p>
    
</div>
<hr class="solid">
<% }) -%>

