@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:100,100i,200,200i,300,300i,400,500,500i,600,600i,700,700i,800,800i,900,900i|Playfair+Display:400,400i,700,700i,900,900i|Abril+Fatface&subset=latin-ext");
* {
  box-sizing: border-box; }

/*meanmenu css file here*/
a.meanmenu-reveal {
  display: none; }

.mean-container .mean-bar {
  background: inherit;
  float: left;
  min-height: 0;
  position: relative;
  width: 100%;
  z-index: 1; }

.mean-container a.meanmenu-reveal {
  color: #333;
  cursor: pointer;
  display: block;
  float: right;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1px;
  font-weight: 700;
  height: 22px;
  line-height: 22px;
  padding: 4px 5px;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: -65px;
  width: 18px; }

.mean-container a.meanmenu-reveal span {
  display: block;
  background: #333;
  height: 2px;
  margin-top: 3px; }

.mean-container .mean-nav {
  float: left;
  width: 100%;
  background: transparent; }

.mean-container .mean-nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none; }

.mean-container .mean-nav ul li {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  position: relative;
  width: 100%;
  border-top: 1px solid; }

.mean-container .mean-nav ul li a {
  background: #f8f8f8 none repeat scroll 0 0;
  color: #666666;
  display: block;
  float: left;
  font-size: 12px;
  margin: 0;
  padding: 1em 5%;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  width: 90%;
  font-weight: bold; }

.mean-container .mean-nav ul li li a {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  opacity: 0.75;
  padding: 1em 10%;
  text-shadow: none !important;
  visibility: visible;
  width: 80%;
  font-weight: normal;
  text-transform: capitalize;
  color: #444; }

.mean-container .mean-nav ul li.mean-last a {
  border-bottom: 0;
  margin-bottom: 0; }

.mean-container .mean-nav ul li li li a {
  width: 70%;
  padding: 1em 15%; }

.mean-container .mean-nav ul li li li li a {
  width: 60%;
  padding: 1em 20%; }

.mean-container .mean-nav ul li li li li li a {
  width: 50%;
  padding: 1em 25%; }

.mean-container .mean-nav ul li a:hover {
  background: #f8f8f8 none repeat scroll 0 0;
  color: #f3a395; }

.mean-container .mean-nav ul li a.mean-expand {
  width: 26px;
  height: 15px;
  margin-top: 1px;
  padding: 6px 12px !important;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.1);
  border: 0 !important;
  background: #F8F8F8; }

.mean-container .mean-nav ul li a.mean-expand:hover {
  background: #f8f8f8; }

.mean-container .mean-push {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  clear: both; }

.mean-nav .wrapper {
  width: 100%;
  padding: 0;
  margin: 0; }

.mean-container .mean-bar, .mean-container .mean-bar * {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.mean-remove {
  display: none !important; }

.mean-container .mean-bar::after {
  color: #242424;
  content: "MENU";
  font-size: 16px;
  font-weight: 500;
  left: 5%;
  position: absolute;
  top: 13px; }

/*meanmenu css file end*/
*, *::after, *::before {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  line-height: 24px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  visibility: visible;
  font-family: "Libre Franklin", sans-serif;
  color: #747474; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-top: 0; }

h1 {
  font-size: 48px;
  line-height: 1;
  font-weight: 700; }

h2 {
  font-size: 36px;
  line-height: 36px; }

h3 {
  font-size: 30px;
  line-height: 30px; }

h4 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700; }

h5 {
  font-size: 14px;
  line-height: 18px; }

h6 {
  font-size: 12px;
  line-height: 14px; }

p:last-child {
  margin-bottom: 0; }

a, button {
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer; }

a, button, img, input, span {
  transition: all 0.3s ease 0s; }

.btn:focus {
  box-shadow: none; }

*:focus {
  outline: none !important; }

a:focus {
  color: inherit;
  outline: none;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

button, input[type="submit"] {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0; }

/*-- 
    - Common Classes
-----------------------------------------*/
.container {
  max-width: 1140px; }

.fix {
  overflow: hidden; }

.hidden {
  display: none; }

.clear {
  clear: both; }

@media only screen and (max-width: 767px) {
  .container {
    width: 450px; } }

@media only screen and (max-width: 479px) {
  .container {
    width: 100%; } }

.capitalize {
  text-transform: capitalize; }

.uppercase {
  text-transform: uppercase; }

.no-gutters > .col, .no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
  margin: 0; }

/*-- 
    - Background color
-----------------------------------------*/
.bg-white {
  background-color: #ffffff; }

.bg-light-grey {
  background-color: #f6fafb; }

.bg-grey {
  background-color: #f8f8f8; }

.bluewood-bg {
  background: #354b65; }

/*- Overlay Color BG -*/
.bluewood-bg-overlay {
  position: relative; }

.bluewood-bg-overlay::before {
  background: rgba(70, 90, 112, 0.9);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.overly-bg-black {
  position: relative; }

.overly-bg-black::after {
  background: rgba(0, 0, 0, 0.3);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

/*-- 
    - color
-----------------------------------------*/
/*-- 
    - Input Placeholder
-----------------------------------------*/
input:-moz-placeholder, textarea:-moz-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

/*-- 
    Scroll Up 
-----------------------------------------*/
#scrollUp {
  background: #242424 none repeat scroll 0 0;
  bottom: 85px;
  color: #ffffff;
  cursor: pointer;
  display: none;
  font-size: 20px;
  height: 45px;
  line-height: 39px;
  position: fixed;
  right: 12px;
  text-align: center;
  width: 45px;
  z-index: 9999;
  border-radius: 50%;
  border: 2px solid #fff;
  -webkit-transition: .3s;
  transition: .3s; }

#scrollUp:hover i {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite; }

/*-- 
    - Main Wrapper
-----------------------------------------*/
.main-wrapper.header-transparent {
  padding: 0 !important;
  margin: 0 !important; }

/*-- 
    - Section Padding
-------------------------------------*/
.section-ptb {
  padding: 100px 0; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-ptb {
    padding: 90px 0; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-ptb {
    padding: 80px 0; } }

@media only screen and (max-width: 767px) {
  .section-ptb {
    padding: 70px 0; } }

@media only screen and (max-width: 479px) {
  .section-ptb {
    padding: 60px 0; } }

.section-pt {
  padding-top: 100px; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-pt {
    padding-top: 90px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-pt {
    padding-top: 80px; } }

@media only screen and (max-width: 767px) {
  .section-pt {
    padding-top: 70px; } }

@media only screen and (max-width: 479px) {
  .section-pt {
    padding-top: 60px; } }

.section-pt-70 {
  padding-top: 70px; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-pt-70 {
    padding-top: 60px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-pt-70 {
    padding-top: 50px; } }

@media only screen and (max-width: 767px) {
  .section-pt-70 {
    padding-top: 40px; } }

@media only screen and (max-width: 479px) {
  .section-pt-70 {
    padding-top: 30px; } }

.section-pb-70 {
  padding-bottom: 80px; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-pb-70 {
    padding-bottom: 60px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-pb-70 {
    padding-bottom: 50px; } }

@media only screen and (max-width: 767px) {
  .section-pb-70 {
    padding-bottom: 40px; } }

@media only screen and (max-width: 479px) {
  .section-pb-70 {
    padding-bottom: 30px; } }

.section-pb {
  padding-bottom: 100px; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-pb {
    padding-bottom: 90px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-pb {
    padding-bottom: 80px; } }

@media only screen and (max-width: 767px) {
  .section-pb {
    padding-bottom: 70px; } }

@media only screen and (max-width: 479px) {
  .section-pb {
    padding-bottom: 60px; } }

/* 02. Element */
.button {
  background: #ff6a28;
  border-radius: 16px;
  box-shadow: none;
  color: #ffffff;
  display: inline-block;
  height: 33px;
  line-height: 33px;
  padding: 0 16px;
  text-transform: uppercase;
  font-size: 12px; }

.product_d_right .product_desc {
  margin-bottom: 19px; }

.product_d_right .product_desc p {
  width: 626px;
  font-size: 13px; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .product_d_right .product_desc p {
    width: 100%; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .product_d_right .product_desc p {
    width: 100%; } }

@media only screen and (max-width: 767px) {
  .product_d_right .product_desc p {
    width: 100%; } }

.product_details.gallery .product_d_right .product_desc p {
  width: 100%; }

.product_sidebar .product_desc p {
  width: 100%; }

.breadcrumbs_area {
  padding: 40px 0; }

.breadcrumb_content ul {
  line-height: 15px; }

.breadcrumb_content ul li {
  display: inline-block;
  text-transform: capitalize;
  font-size: 14px;
  margin-right: 5px;
  color: #242424; }

.breadcrumb_content ul li:last-child {
  margin-right: 0; }

.breadcrumb_content ul li a {
  color: #999; }

.breadcrumb_content ul li a:hover {
  color: #ff6a28; }

.product_section {
  padding: 0 120px 54px; }

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .product_section {
    padding: 0 30px 39px; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .product_section {
    padding: 0 30px 39px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .product_section {
    padding: 0 20px 39px; } }

@media only screen and (max-width: 767px) {
  .product_section {
    padding: 0 0 39px; } }

.section_title {
  text-align: center;
  margin-bottom: 28px; }

.section_title h2 {
  font-size: 36px;
  color: #242424;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 11px;
  line-height: 38px;
  letter-spacing: -0.05em; }

.section_title p {
  margin-bottom: 0; }

@media only screen and (max-width: 767px) {
  .section_title {
    margin-bottom: 15px; } }

@media only screen and (max-width: 767px) {
  .section_title h2 {
    font-size: 22px;
    line-height: 25px; } }

.product_carousel .col-lg-3 {
  flex: 0 0 100%;
  width: 100%; }

.product_carousel .owl-nav div {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  border: 0;
  background: inherit;
  font-size: 50px;
  z-index: 9;
  left: 0;
  color: #a9a9a9;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

@media only screen and (max-width: 767px) {
  .product_carousel .owl-nav div {
    left: 10px; } }

.product_carousel .owl-nav div:hover {
  color: #ff6a28; }

.product_carousel .owl-nav div.owl-next {
  right: 0;
  left: auto; }

@media only screen and (max-width: 767px) {
  .product_carousel .owl-nav div.owl-next {
    right: 10px; } }

.product_carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
  left: -20px; }

@media only screen and (max-width: 767px) {
  .product_carousel:hover .owl-nav div {
    left: 0; } }

.product_carousel:hover .owl-nav div.owl-next {
  right: -20px;
  left: auto; }

@media only screen and (max-width: 767px) {
  .product_carousel:hover .owl-nav div.owl-next {
    right: 0; } }

.single_product {
  margin-bottom: 40px; }

.single_product:hover .product_thumb a.secondary_img {
  opacity: 1;
  visibility: visible; }

.single_product:hover .product_action {
  opacity: 1;
  visibility: visible; }

.single_product:hover .quick_button {
  opacity: 1;
  visibility: visible; }

.grid_list .single_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.upsell_product .single_product {
  margin-bottom: 0; }

.related_product .single_product {
  margin-bottom: 0; }

.related_product .single_product {
  margin-bottom: 0; }

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .single_product {
    margin-bottom: 33px; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_product {
    margin-bottom: 33px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_product {
    margin-bottom: 33px; } }

@media only screen and (max-width: 767px) {
  .single_product {
    margin-bottom: 33px; } }

@media only screen and (max-width: 767px) {
  .grid_list .single_product {
    flex-direction: column; } }

.product_thumb {
  position: relative;
  margin-bottom: 14px; }

.product_thumb a.secondary_img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

.grid_list .product_thumb {
  margin-bottom: 0;
  min-width: 33.333333%;
  margin-right: 15px; }

@media only screen and (max-width: 767px) {
  .product_list_item .product_thumb {
    margin-bottom: 18px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .grid_list .product_thumb {
    flex: 0 0 40.667%;
    min-width: 40.667%; } }

@media only screen and (max-width: 767px) {
  .grid_list .product_thumb {
    flex: 0 0 100%;
    min-width: 100%;
    margin-right: 0;
    margin-bottom: 25px; } }

.table_desc .cart_page table tbody tr td.product_thumb {
  min-width: 159px; }

.table_desc .cart_page table tbody tr td.product_thumb img {
  width: inherit; }

.quick_button {
  position: absolute;
  bottom: 15px;
  left: 10px;
  right: 10px;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.quick_button a {
  line-height: 45px;
  background: #fff;
  color: #999;
  padding: 0 10px;
  font-weight: normal;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 13px;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  border: 1px solid #999;
  border-radius: .3rem;
  display: block; }

.quick_button a:hover {
  color: #ff6a28;
  border: 1px solid #ff6a28; }

@media only screen and (max-width: 767px) {
  .quick_button {
    text-align: center; } }

@media only screen and (max-width: 479px) {
  .quick_button {
    bottom: 8px;
    left: 20px;
    right: 20px; } }

@media only screen and (max-width: 479px) {
  .quick_button a {
    line-height: 30px;
    padding: 0 8px;
    font-size: 12px; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .product_sidebar .quick_button {
    bottom: 12px; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .product_sidebar .quick_button a {
    line-height: 35px; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .grid_view .quick_button {
    bottom: 5px; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .grid_view .quick_button a {
    line-height: 37px; } }

.product_content h3 {
  line-height: 22px;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0; }

.product_content h3 a {
  color: #999; }

.product_content h3 a:hover {
  color: #ff6a28; }

.product_content span {
  font-size: 13px;
  font-weight: 500;
  color: #242424; }

.product_content span.old_price {
  color: #a4a4a4;
  text-decoration: line-through;
  margin-left: 5px; }

.product_content.list_content {
  display: none; }

.grid_list .product_content.grid_content {
  display: none; }

.grid_list .product_content.list_content {
  display: block;
  min-width: 0 0 66.666667%;
  margin-left: 15px; }

.product_list_item .product_content h3 {
  margin-bottom: 10px; }

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .product_content h3 {
    font-size: 12px; } }

@media only screen and (max-width: 767px) {
  .grid_list .product_content.list_content {
    flex: 0 0 100%;
    min-width: 100%;
    margin-left: 0; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .grid_list .product_content.list_content {
    flex: 0 0 55.333%;
    min-width: 55.333%; } }

.double_base .product_sale {
  top: 46px;
  padding: 0 15px; }

.product_sale {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #ff6a28;
  padding: 0 13px;
  border-radius: 2px; }

.product_sale span {
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  line-height: 23px; }

.modal_tab_img {
  text-align: center;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ddd; }

.modal_tab_img img {
  margin: 0 auto; }

@media only screen and (max-width: 767px) {
  .modal_body .modal_tab {
    margin-bottom: 60px; } }

.modal_tab_button ul li a {
  padding: 0;
  border: 1px solid #ddd;
  margin: 0 2px; }

.modal_tab_button ul li a img {
  width: 100%; }

.product_navactive.owl-carousel {
  padding: 0 20px; }

.product_navactive.owl-carousel .owl-nav > div {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  left: 0;
  font-size: 35px;
  color: #a9a9a9;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.product_navactive.owl-carousel .owl-nav > div:hover {
  color: #ff6a28; }

.product_navactive.owl-carousel .owl-nav > div.owl-next {
  right: 0;
  left: auto; }

.product_navactive.owl-carousel:hover .owl-nav > div {
  opacity: 1; }

.nav.product_navactive.owl-carousel .owl-dots {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -35px; }

.nav.product_navactive.owl-carousel .owl-dots .owl-dot {
  width: 12px;
  height: 12px;
  background: #a9a9a9;
  display: inline-block;
  margin: 0 3px;
  border-radius: 50%; }

.nav.product_navactive.owl-carousel .owl-dots .owl-dot.active {
  background: #ff6a28; }

.owl-carousel .owl-item .single_instagram a img {
  display: inline-block; }

.modal_title h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 14px;
  color: #242424;
  line-height: 26px; }

.modal_price {
  margin-bottom: 12px; }

.modal_price span {
  font-weight: 600;
  color: #ff6a28;
  font-size: 16px; }

.modal_price span.old_price {
  color: #747474;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 5px; }

.modal_description p {
  line-height: 24px;
  font-size: 15px;
  color: #747474;
  margin: 0; }

.modal_description.mb-15 {
  margin-bottom: 19px; }

.variants_size h2, .variants_color h2 {
  font-size: 16px;
  color: #242424;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 7px;
  line-height: 20px; }

.variants_size.mb-15, .mb-15.variants_color {
  margin-bottom: 24px; }

.variants_size .select_option, .variants_color .select_option {
  width: 100%;
  border-radius: 0;
  margin-bottom: 25px; }

.variants_size .select_option .list, .variants_color .select_option .list {
  width: 100%;
  border-radius: 0; }

.modal_add_to_cart {
  margin-bottom: 25px; }

.modal_add_to_cart form input {
  width: 95px;
  border: 1px solid #ddd;
  background: none;
  padding: 0 10px;
  height: 45px; }

@media only screen and (max-width: 767px) {
  .modal_add_to_cart form input {
    width: 75px; } }

.modal_add_to_cart form button {
  background: none;
  border: 1px solid #242424;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 700;
  height: 45px;
  width: 230px;
  line-height: 18px;
  padding: 10px 15px;
  text-transform: uppercase;
  background: #242424;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer; }

@media only screen and (max-width: 767px) {
  .modal_add_to_cart form button {
    width: 130px; } }

.modal_add_to_cart form button:hover {
  background: #ff6a28;
  color: #ffffff;
  border-color: #ff6a28; }

.modal_add_to_cart.mb-15 {
  margin-bottom: 28px; }

.modal_social h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
  color: #242424;
  line-height: 20px; }

.modal_social ul li {
  display: inline-block;
  margin-right: 3px; }

.modal_social ul li a {
  text-transform: uppercase;
  display: inline-block;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  font-size: 15px;
  color: #ffffff;
  font-weight: 400; }

.modal_social ul li.facebook a {
  background: #3c5b9b; }

.modal_social ul li.facebook a:hover {
  background: #ff6a28; }

.modal_social ul li.twitter a {
  background: #1DA1F2; }

.modal_social ul li.twitter a:hover {
  background: #ff6a28; }

.modal_social ul li.pinterest a {
  background: #BD081B; }

.modal_social ul li.pinterest a:hover {
  background: #ff6a28; }

.modal_social ul li.google-plus a {
  background: #DC5043; }

.modal_social ul li.google-plus a:hover {
  background: #ff6a28; }

.modal_social ul li.linkedin a {
  background: #010103; }

.modal_social ul li.linkedin a:hover {
  background: #ff6a28; }

.blog_thumb {
  position: relative;
  margin-bottom: 22px; }

.blog_thumb > a {
  display: block; }

.blog_thumb:hover::before {
  opacity: 1;
  visibility: visible; }

.blog_thumb:hover .blog_icon {
  opacity: 1;
  visibility: visible; }

.blog_thumb::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden; }

@media only screen and (max-width: 767px) {
  .blog_thumb > a {
    width: 100%; } }

.blog_content p.post_desc {
  color: #a9a9a9;
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
  margin-bottom: 7px; }

.blog_content a.read_more {
  color: #747474;
  text-decoration: underline;
  font-style: italic;
  margin-bottom: 7px; }

.blog_content a.read_more:hover {
  color: #ff6a28; }

.blog_content h3 {
  font-size: 16px;
  text-transform: capitalize;
  line-height: 18px;
  position: relative;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 600;
  margin-bottom: 14px; }

.blog_content h3 a {
  color: #242424; }

.blog_content h3 a:hover {
  color: #ff6a28; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .blog_content h3 {
    font-size: 14px; } }

@media only screen and (max-width: 767px) {
  .blog_content h3 {
    font-size: 14px; } }

.post_desc p {
  line-height: 22px; }

.label_product {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #007a58;
  padding: 0 13px;
  border-radius: 2px; }

.label_product span {
  text-transform: capitalize;
  color: #fff; }

@media only screen and (max-width: 767px) {
  .pagination {
    margin-top: 19px; } }

.pagination ul li {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #f1f1f1;
  color: #747474;
  border-radius: 3px;
  margin-left: 3px; }

.pagination ul li:first-child {
  margin-left: 0; }

.pagination ul li a {
  display: block;
  border-radius: 3px; }

.pagination ul li a:hover {
  background: #ff6a28;
  color: #ffffff; }

.pagination ul li.current {
  background: #ff6a28;
  color: #ffffff; }

.pagination ul li.next {
  width: 40px; }

@media only screen and (max-width: 767px) {
  .shop_toolbar.t_bottom .pagination {
    margin-top: 0; } }

.product_thumb a {
  width: inherit;
  height: inherit; }

.product_thumb a img {
  width: 255px; }

.product_content .current_price {
  color: rgba(209, 101, 101, 0.884); }

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 10px;
  background: #3498DB;
  border-radius: 5px;
  animation: load 3s ease-in-out infinite; }
  .loader:before, .loader:after {
    position: absolute;
    display: block;
    content: "";
    animation: load 3s ease-in-out infinite;
    height: 10px;
    border-radius: 5px; }
  .loader:before {
    top: -20px;
    left: 10px;
    width: 40px;
    background: #EF4836; }
  .loader:after {
    bottom: -20px;
    width: 35px;
    background: #F5AB35; }

@keyframes load {
  0% {
    transform: translateX(40px); }
  50% {
    transform: translateX(-30px); }
  100% {
    transform: translateX(40px); } }

.loader-wrapper {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000; }

.loader-wrapper p {
  text-align: center;
  margin-top: 15rem;
  font-size: 25px; }

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .footer_widgets {
    padding: 0 30px; } }

.footer_top {
  border-bottom: 1px solid #ddd;
  padding-bottom: 92px; }

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .footer_top {
    padding-bottom: 72px; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer_top {
    padding-bottom: 80px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_top {
    padding-bottom: 40px; } }

@media only screen and (max-width: 767px) {
  .footer_top {
    padding-bottom: 34px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .widgets_container {
    margin-bottom: 20px; } }

@media only screen and (max-width: 767px) {
  .widgets_container {
    margin-bottom: 25px; } }

@media only screen and (max-width: 767px) {
  .widgets_container.contact_us {
    margin-bottom: 34px; } }

.widgets_container h3 {
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  margin-bottom: 16px;
  font-weight: 600;
  color: #242424; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .widgets_container h3 {
    margin-bottom: 8px; } }

@media only screen and (max-width: 767px) {
  .widgets_container h3 {
    margin-bottom: 8px; } }

.footer_menu ul li a {
  display: block;
  font-weight: 400;
  line-height: 30px;
  color: #747474; }

.footer_menu ul li a:hover {
  color: #ff6a28; }

.footer_contact p {
  margin-bottom: 0;
  line-height: 30px; }

.footer_contact p a:hover {
  color: #ff6a28; }

.footer_contact ul {
  margin-top: 10px; }

.footer_contact ul li {
  display: inline-block;
  margin-right: 7px; }

.footer_contact ul li:last-child {
  margin-right: 0; }

.footer_contact ul li a {
  color: #b2b2b2;
  font-size: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e1e1e1;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  display: block; }

.footer_contact ul li a:hover {
  background: #242424;
  color: #fff;
  border-color: #242424; }

.newleter-content p {
  line-height: 28px;
  margin-bottom: 10px; }

.newleter-content form input {
  width: 100%;
  padding: 0 20px;
  border: 1px solid #e1e1e1;
  height: 45px;
  color: #cacaca;
  margin-bottom: 10px; }

.newleter-content form button {
  background: #242424;
  line-height: 45px;
  padding: 0 10px;
  margin-top: 7px;
  color: #fff;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  display: block;
  width: 100%;
  border: 0;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.newleter-content form button:hover {
  background: #ff6a28; }

.mailchimp-error {
  text-align: center;
  color: green; }

.mailchimp-success {
  text-align: center;
  color: green; }

.mailchimp-success.active {
  margin-top: 20px; }

.footer_custom_links {
  text-align: right; }

@media only screen and (max-width: 767px) {
  .footer_custom_links {
    text-align: center; } }

.footer_custom_links ul li {
  display: inline-block;
  padding-right: 30px; }

@media only screen and (max-width: 767px) {
  .footer_custom_links ul li {
    padding-right: 20px; } }

.footer_custom_links ul li:last-child {
  margin-right: 0; }

.footer_custom_links ul li a {
  color: #747474;
  text-transform: capitalize; }

.footer_custom_links ul li a:hover {
  color: #ff6a28; }

@media only screen and (max-width: 767px) {
  .copyright_area {
    text-align: center; } }

.copyright_area p {
  text-transform: capitalize; }

@media only screen and (max-width: 767px) {
  .copyright_area p {
    margin-bottom: 5px; } }

.copyright_area p a {
  color: #ff6a28; }

.copyright_area p a:hover {
  text-decoration: underline; }

.footer_bottom {
  padding: 30px 0; }

@media only screen and (max-width: 767px) {
  .footer_bottom {
    padding: 20px 0; } }
