@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:100,100i,200,200i,300,300i,400,500,500i,600,600i,700,700i,800,800i,900,900i|Playfair+Display:400,400i,700,700i,900,900i|Abril+Fatface&subset=latin-ext");
* {
  box-sizing: border-box; }

/*meanmenu css file here*/
a.meanmenu-reveal {
  display: none; }

.mean-container .mean-bar {
  background: inherit;
  float: left;
  min-height: 0;
  position: relative;
  width: 100%;
  z-index: 1; }

.mean-container a.meanmenu-reveal {
  color: #333;
  cursor: pointer;
  display: block;
  float: right;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1px;
  font-weight: 700;
  height: 22px;
  line-height: 22px;
  padding: 4px 5px;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: -65px;
  width: 18px; }

.mean-container a.meanmenu-reveal span {
  display: block;
  background: #333;
  height: 2px;
  margin-top: 3px; }

.mean-container .mean-nav {
  float: left;
  width: 100%;
  background: transparent; }

.mean-container .mean-nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none; }

.mean-container .mean-nav ul li {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  position: relative;
  width: 100%;
  border-top: 1px solid #ddd; }

.mean-container .mean-nav ul li a {
  background: #f8f8f8 none repeat scroll 0 0;
  color: #666666;
  display: block;
  float: left;
  font-size: 12px;
  margin: 0;
  padding: 1em 5%;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  width: 90%;
  font-weight: bold; }

.mean-container .mean-nav ul li li a {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  opacity: 0.75;
  padding: 1em 10%;
  text-shadow: none !important;
  visibility: visible;
  width: 80%;
  font-weight: normal;
  text-transform: capitalize;
  color: #444; }

.mean-container .mean-nav ul li.mean-last a {
  border-bottom: 0;
  margin-bottom: 0; }

.mean-container .mean-nav ul li li li a {
  width: 70%;
  padding: 1em 15%; }

.mean-container .mean-nav ul li li li li a {
  width: 60%;
  padding: 1em 20%; }

.mean-container .mean-nav ul li li li li li a {
  width: 50%;
  padding: 1em 25%; }

.mean-container .mean-nav ul li a:hover {
  background: #f8f8f8 none repeat scroll 0 0;
  color: #f3a395; }

.mean-container .mean-nav ul li a.mean-expand {
  width: 26px;
  height: 15px;
  margin-top: 1px;
  padding: 6px 12px !important;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.1);
  border: 0 !important;
  background: #F8F8F8; }

.mean-container .mean-nav ul li a.mean-expand:hover {
  background: #f8f8f8; }

.mean-container .mean-push {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  clear: both; }

.mean-nav .wrapper {
  width: 100%;
  padding: 0;
  margin: 0; }

.mean-container .mean-bar, .mean-container .mean-bar * {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.mean-remove {
  display: none !important; }

.mean-container .mean-bar::after {
  color: #242424;
  content: "MENU";
  font-size: 16px;
  font-weight: 500;
  left: 5%;
  position: absolute;
  top: 13px; }

/*meanmenu css file end*/
*, *::after, *::before {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  line-height: 24px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  visibility: visible;
  font-family: "Libre Franklin", sans-serif;
  color: #747474; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-top: 0; }

h1 {
  font-size: 48px;
  line-height: 1;
  font-weight: 700; }

h2 {
  font-size: 36px;
  line-height: 36px; }

h3 {
  font-size: 30px;
  line-height: 30px; }

h4 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700; }

h5 {
  font-size: 14px;
  line-height: 18px; }

h6 {
  font-size: 12px;
  line-height: 14px; }

p:last-child {
  margin-bottom: 0; }

a, button {
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer; }

a, button, img, input, span {
  transition: all 0.3s ease 0s; }

.btn:focus {
  box-shadow: none; }

*:focus {
  outline: none !important; }

a:focus {
  color: inherit;
  outline: none;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

button, input[type="submit"] {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0; }

/*-- 
    - Common Classes
-----------------------------------------*/
.container {
  max-width: 1140px; }

.fix {
  overflow: hidden; }

.hidden {
  display: none; }

.clear {
  clear: both; }

@media only screen and (max-width: 767px) {
  .container {
    width: 450px; } }

@media only screen and (max-width: 479px) {
  .container {
    width: 100%; } }

.capitalize {
  text-transform: capitalize; }

.uppercase {
  text-transform: uppercase; }

.no-gutters > .col, .no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
  margin: 0; }

/*-- 
    - Background color
-----------------------------------------*/
.bg-white {
  background-color: #ffffff; }

.bg-light-grey {
  background-color: #f6fafb; }

.bg-grey {
  background-color: #f8f8f8; }

.bluewood-bg {
  background: #354b65; }

/*- Overlay Color BG -*/
.bluewood-bg-overlay {
  position: relative; }

.bluewood-bg-overlay::before {
  background: rgba(70, 90, 112, 0.9);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.overly-bg-black {
  position: relative; }

.overly-bg-black::after {
  background: rgba(0, 0, 0, 0.3);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

/*-- 
    - color
-----------------------------------------*/
/*-- 
    - Input Placeholder
-----------------------------------------*/
input:-moz-placeholder, textarea:-moz-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

/*-- 
    Scroll Up 
-----------------------------------------*/
#scrollUp {
  background: #242424 none repeat scroll 0 0;
  bottom: 85px;
  color: #ffffff;
  cursor: pointer;
  display: none;
  font-size: 20px;
  height: 45px;
  line-height: 39px;
  position: fixed;
  right: 12px;
  text-align: center;
  width: 45px;
  z-index: 9999;
  border-radius: 50%;
  border: 2px solid #fff;
  -webkit-transition: .3s;
  transition: .3s; }

#scrollUp:hover i {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite; }

/*-- 
    - Main Wrapper
-----------------------------------------*/
.main-wrapper.header-transparent {
  padding: 0 !important;
  margin: 0 !important; }

/*-- 
    - Section Padding
-------------------------------------*/
.section-ptb {
  padding: 100px 0; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-ptb {
    padding: 90px 0; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-ptb {
    padding: 80px 0; } }

@media only screen and (max-width: 767px) {
  .section-ptb {
    padding: 70px 0; } }

@media only screen and (max-width: 479px) {
  .section-ptb {
    padding: 60px 0; } }

.section-pt {
  padding-top: 100px; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-pt {
    padding-top: 90px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-pt {
    padding-top: 80px; } }

@media only screen and (max-width: 767px) {
  .section-pt {
    padding-top: 70px; } }

@media only screen and (max-width: 479px) {
  .section-pt {
    padding-top: 60px; } }

.section-pt-70 {
  padding-top: 70px; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-pt-70 {
    padding-top: 60px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-pt-70 {
    padding-top: 50px; } }

@media only screen and (max-width: 767px) {
  .section-pt-70 {
    padding-top: 40px; } }

@media only screen and (max-width: 479px) {
  .section-pt-70 {
    padding-top: 30px; } }

.section-pb-70 {
  padding-bottom: 80px; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-pb-70 {
    padding-bottom: 60px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-pb-70 {
    padding-bottom: 50px; } }

@media only screen and (max-width: 767px) {
  .section-pb-70 {
    padding-bottom: 40px; } }

@media only screen and (max-width: 479px) {
  .section-pb-70 {
    padding-bottom: 30px; } }

.section-pb {
  padding-bottom: 100px; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-pb {
    padding-bottom: 90px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-pb {
    padding-bottom: 80px; } }

@media only screen and (max-width: 767px) {
  .section-pb {
    padding-bottom: 70px; } }

@media only screen and (max-width: 479px) {
  .section-pb {
    padding-bottom: 60px; } }

/* 02. Element */
.button {
  background: #ff6a28;
  border-radius: 16px;
  box-shadow: none;
  color: #ffffff;
  display: inline-block;
  height: 33px;
  line-height: 33px;
  padding: 0 16px;
  text-transform: uppercase;
  font-size: 12px; }

.product_d_right .product_desc {
  margin-bottom: 19px; }

.product_d_right .product_desc p {
  width: 626px;
  font-size: 13px; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .product_d_right .product_desc p {
    width: 100%; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .product_d_right .product_desc p {
    width: 100%; } }

@media only screen and (max-width: 767px) {
  .product_d_right .product_desc p {
    width: 100%; } }

.product_details.gallery .product_d_right .product_desc p {
  width: 100%; }

.product_sidebar .product_desc p {
  width: 100%; }

.breadcrumbs_area {
  padding: 40px 0; }

.breadcrumb_content ul {
  line-height: 15px; }

.breadcrumb_content ul li {
  display: inline-block;
  text-transform: capitalize;
  font-size: 14px;
  margin-right: 5px;
  color: #242424; }

.breadcrumb_content ul li:last-child {
  margin-right: 0; }

.breadcrumb_content ul li a {
  color: #999; }

.breadcrumb_content ul li a:hover {
  color: #ff6a28; }

.product_section {
  padding: 0 120px 54px; }

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .product_section {
    padding: 0 30px 39px; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .product_section {
    padding: 0 30px 39px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .product_section {
    padding: 0 20px 39px; } }

@media only screen and (max-width: 767px) {
  .product_section {
    padding: 0 0 39px; } }

.section_title {
  text-align: center;
  margin-bottom: 28px; }

.section_title h2 {
  font-size: 36px;
  color: #242424;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 11px;
  line-height: 38px;
  letter-spacing: -0.05em; }

.section_title p {
  margin-bottom: 0; }

@media only screen and (max-width: 767px) {
  .section_title {
    margin-bottom: 15px; } }

@media only screen and (max-width: 767px) {
  .section_title h2 {
    font-size: 22px;
    line-height: 25px; } }

.product_carousel .col-lg-3 {
  flex: 0 0 100%;
  width: 100%; }

.product_carousel .owl-nav div {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  border: 0;
  background: inherit;
  font-size: 50px;
  z-index: 9;
  left: 0;
  color: #a9a9a9;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

@media only screen and (max-width: 767px) {
  .product_carousel .owl-nav div {
    left: 10px; } }

.product_carousel .owl-nav div:hover {
  color: #ff6a28; }

.product_carousel .owl-nav div.owl-next {
  right: 0;
  left: auto; }

@media only screen and (max-width: 767px) {
  .product_carousel .owl-nav div.owl-next {
    right: 10px; } }

.product_carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
  left: -20px; }

@media only screen and (max-width: 767px) {
  .product_carousel:hover .owl-nav div {
    left: 0; } }

.product_carousel:hover .owl-nav div.owl-next {
  right: -20px;
  left: auto; }

@media only screen and (max-width: 767px) {
  .product_carousel:hover .owl-nav div.owl-next {
    right: 0; } }

.single_product {
  margin-bottom: 40px; }

.single_product:hover .product_thumb a.secondary_img {
  opacity: 1;
  visibility: visible; }

.single_product:hover .product_action {
  opacity: 1;
  visibility: visible; }

.single_product:hover .quick_button {
  opacity: 1;
  visibility: visible; }

.grid_list .single_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.upsell_product .single_product {
  margin-bottom: 0; }

.related_product .single_product {
  margin-bottom: 0; }

.related_product .single_product {
  margin-bottom: 0; }

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .single_product {
    margin-bottom: 33px; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_product {
    margin-bottom: 33px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_product {
    margin-bottom: 33px; } }

@media only screen and (max-width: 767px) {
  .single_product {
    margin-bottom: 33px; } }

@media only screen and (max-width: 767px) {
  .grid_list .single_product {
    flex-direction: column; } }

.product_thumb {
  position: relative;
  margin-bottom: 14px; }

.product_thumb a.secondary_img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

.grid_list .product_thumb {
  margin-bottom: 0;
  min-width: 33.333333%;
  margin-right: 15px; }

@media only screen and (max-width: 767px) {
  .product_list_item .product_thumb {
    margin-bottom: 18px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .grid_list .product_thumb {
    flex: 0 0 40.667%;
    min-width: 40.667%; } }

@media only screen and (max-width: 767px) {
  .grid_list .product_thumb {
    flex: 0 0 100%;
    min-width: 100%;
    margin-right: 0;
    margin-bottom: 25px; } }

.table_desc .cart_page table tbody tr td.product_thumb {
  min-width: 159px; }

.table_desc .cart_page table tbody tr td.product_thumb img {
  width: inherit; }

.quick_button {
  position: absolute;
  bottom: 15px;
  left: 10px;
  right: 10px;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.quick_button a {
  line-height: 45px;
  background: #fff;
  color: #999;
  padding: 0 10px;
  font-weight: normal;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 13px;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  border: 1px solid #999;
  border-radius: .3rem;
  display: block; }

.quick_button a:hover {
  color: #ff6a28;
  border: 1px solid #ff6a28; }

@media only screen and (max-width: 767px) {
  .quick_button {
    text-align: center; } }

@media only screen and (max-width: 479px) {
  .quick_button {
    bottom: 8px;
    left: 20px;
    right: 20px; } }

@media only screen and (max-width: 479px) {
  .quick_button a {
    line-height: 30px;
    padding: 0 8px;
    font-size: 12px; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .product_sidebar .quick_button {
    bottom: 12px; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .product_sidebar .quick_button a {
    line-height: 35px; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .grid_view .quick_button {
    bottom: 5px; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .grid_view .quick_button a {
    line-height: 37px; } }

.product_content h3 {
  line-height: 22px;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0; }

.product_content h3 a {
  color: #999; }

.product_content h3 a:hover {
  color: #ff6a28; }

.product_content span {
  font-size: 13px;
  font-weight: 500;
  color: #242424; }

.product_content span.old_price {
  color: #a4a4a4;
  text-decoration: line-through;
  margin-left: 5px; }

.product_content.list_content {
  display: none; }

.grid_list .product_content.grid_content {
  display: none; }

.grid_list .product_content.list_content {
  display: block;
  min-width: 0 0 66.666667%;
  margin-left: 15px; }

.product_list_item .product_content h3 {
  margin-bottom: 10px; }

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .product_content h3 {
    font-size: 12px; } }

@media only screen and (max-width: 767px) {
  .grid_list .product_content.list_content {
    flex: 0 0 100%;
    min-width: 100%;
    margin-left: 0; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .grid_list .product_content.list_content {
    flex: 0 0 55.333%;
    min-width: 55.333%; } }

.double_base .product_sale {
  top: 46px;
  padding: 0 15px; }

.product_sale {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #ff6a28;
  padding: 0 13px;
  border-radius: 2px; }

.product_sale span {
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  line-height: 23px; }

.modal_tab_img {
  text-align: center;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ddd; }

.modal_tab_img img {
  margin: 0 auto; }

@media only screen and (max-width: 767px) {
  .modal_body .modal_tab {
    margin-bottom: 60px; } }

.modal_tab_button ul li a {
  padding: 0;
  border: 1px solid #ddd;
  margin: 0 2px; }

.modal_tab_button ul li a img {
  width: 100%; }

.product_navactive.owl-carousel {
  padding: 0 20px; }

.product_navactive.owl-carousel .owl-nav > div {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  left: 0;
  font-size: 35px;
  color: #a9a9a9;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.product_navactive.owl-carousel .owl-nav > div:hover {
  color: #ff6a28; }

.product_navactive.owl-carousel .owl-nav > div.owl-next {
  right: 0;
  left: auto; }

.product_navactive.owl-carousel:hover .owl-nav > div {
  opacity: 1; }

.nav.product_navactive.owl-carousel .owl-dots {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -35px; }

.nav.product_navactive.owl-carousel .owl-dots .owl-dot {
  width: 12px;
  height: 12px;
  background: #a9a9a9;
  display: inline-block;
  margin: 0 3px;
  border-radius: 50%; }

.nav.product_navactive.owl-carousel .owl-dots .owl-dot.active {
  background: #ff6a28; }

.owl-carousel .owl-item .single_instagram a img {
  display: inline-block; }

.modal_title h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 14px;
  color: #242424;
  line-height: 26px; }

.modal_price {
  margin-bottom: 12px; }

.modal_price span {
  font-weight: 600;
  color: #ff6a28;
  font-size: 16px; }

.modal_price span.old_price {
  color: #747474;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 5px; }

.modal_description p {
  line-height: 24px;
  font-size: 15px;
  color: #747474;
  margin: 0; }

.modal_description.mb-15 {
  margin-bottom: 19px; }

.variants_size h2, .variants_color h2 {
  font-size: 16px;
  color: #242424;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 7px;
  line-height: 20px; }

.variants_size.mb-15, .mb-15.variants_color {
  margin-bottom: 24px; }

.variants_size .select_option, .variants_color .select_option {
  width: 100%;
  border-radius: 0;
  margin-bottom: 25px; }

.variants_size .select_option .list, .variants_color .select_option .list {
  width: 100%;
  border-radius: 0; }

.modal_add_to_cart {
  margin-bottom: 25px; }

.modal_add_to_cart form input {
  width: 95px;
  border: 1px solid #ddd;
  background: none;
  padding: 0 10px;
  height: 45px; }

@media only screen and (max-width: 767px) {
  .modal_add_to_cart form input {
    width: 75px; } }

.modal_add_to_cart form button {
  background: none;
  border: 1px solid #242424;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 700;
  height: 45px;
  width: 230px;
  line-height: 18px;
  padding: 10px 15px;
  text-transform: uppercase;
  background: #242424;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer; }

@media only screen and (max-width: 767px) {
  .modal_add_to_cart form button {
    width: 130px; } }

.modal_add_to_cart form button:hover {
  background: #ff6a28;
  color: #ffffff;
  border-color: #ff6a28; }

.modal_add_to_cart.mb-15 {
  margin-bottom: 28px; }

.modal_social h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
  color: #242424;
  line-height: 20px; }

.modal_social ul li {
  display: inline-block;
  margin-right: 3px; }

.modal_social ul li a {
  text-transform: uppercase;
  display: inline-block;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  font-size: 15px;
  color: #ffffff;
  font-weight: 400; }

.modal_social ul li.facebook a {
  background: #3c5b9b; }

.modal_social ul li.facebook a:hover {
  background: #ff6a28; }

.modal_social ul li.twitter a {
  background: #1DA1F2; }

.modal_social ul li.twitter a:hover {
  background: #ff6a28; }

.modal_social ul li.pinterest a {
  background: #BD081B; }

.modal_social ul li.pinterest a:hover {
  background: #ff6a28; }

.modal_social ul li.google-plus a {
  background: #DC5043; }

.modal_social ul li.google-plus a:hover {
  background: #ff6a28; }

.modal_social ul li.linkedin a {
  background: #010103; }

.modal_social ul li.linkedin a:hover {
  background: #ff6a28; }

.blog_thumb {
  position: relative;
  margin-bottom: 22px; }

.blog_thumb > a {
  display: block; }

.blog_thumb:hover::before {
  opacity: 1;
  visibility: visible; }

.blog_thumb:hover .blog_icon {
  opacity: 1;
  visibility: visible; }

.blog_thumb::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden; }

@media only screen and (max-width: 767px) {
  .blog_thumb > a {
    width: 100%; } }

.blog_content p.post_desc {
  color: #a9a9a9;
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
  margin-bottom: 7px; }

.blog_content a.read_more {
  color: #747474;
  text-decoration: underline;
  font-style: italic;
  margin-bottom: 7px; }

.blog_content a.read_more:hover {
  color: #ff6a28; }

.blog_content h3 {
  font-size: 16px;
  text-transform: capitalize;
  line-height: 18px;
  position: relative;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 600;
  margin-bottom: 14px; }

.blog_content h3 a {
  color: #242424; }

.blog_content h3 a:hover {
  color: #ff6a28; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .blog_content h3 {
    font-size: 14px; } }

@media only screen and (max-width: 767px) {
  .blog_content h3 {
    font-size: 14px; } }

.post_desc p {
  line-height: 22px; }

.label_product {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #007a58;
  padding: 0 13px;
  border-radius: 2px; }

.label_product span {
  text-transform: capitalize;
  color: #fff; }

@media only screen and (max-width: 767px) {
  .pagination {
    margin-top: 19px; } }

.pagination ul li {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #f1f1f1;
  color: #747474;
  border-radius: 3px;
  margin-left: 3px; }

.pagination ul li:first-child {
  margin-left: 0; }

.pagination ul li a {
  display: block;
  border-radius: 3px; }

.pagination ul li a:hover {
  background: #ff6a28;
  color: #ffffff; }

.pagination ul li.current {
  background: #ff6a28;
  color: #ffffff; }

.pagination ul li.next {
  width: 40px; }

@media only screen and (max-width: 767px) {
  .shop_toolbar.t_bottom .pagination {
    margin-top: 0; } }

.product_thumb a {
  width: inherit;
  height: inherit; }

.product_thumb a img {
  width: 255px; }

.product_content .current_price {
  color: rgba(209, 101, 101, 0.884); }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .shop_area .list_view.active {
    margin-bottom: 54px; } }

@media only screen and (max-width: 767px) {
  .shop_area .list_view.active {
    margin-bottom: 54px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .shop_reverse .shop_inner_area > .row {
    flex-direction: column-reverse; } }

@media only screen and (max-width: 767px) {
  .shop_reverse .shop_inner_area > .row {
    flex-direction: column-reverse; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .shop_reverse .tab-content .row {
    flex-direction: row; } }

@media only screen and (max-width: 767px) {
  .shop_reverse .tab-content .row {
    flex-direction: row; } }

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .shop_inner_area {
    padding-bottom: 74px;
    margin-bottom: 74px; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .shop_inner_area {
    padding-bottom: 74px;
    margin-bottom: 74px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .shop_inner_area {
    padding-bottom: 54px;
    margin-bottom: 57px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .shop_inner_area {
    padding-bottom: 54px;
    margin-bottom: 57px; } }

@media only screen and (max-width: 767px) {
  .shop_inner_area {
    padding-bottom: 54px;
    margin-bottom: 57px; } }

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .shop_fullwidth .shop_inner_area {
    padding-bottom: 80px;
    margin-bottom: 76px; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .shop_fullwidth .shop_inner_area {
    padding-bottom: 80px;
    margin-bottom: 76px; } }

@media only screen and (max-width: 767px) {
  .shop_fullwidth .shop_inner_area {
    padding-bottom: 60px;
    margin-bottom: 57px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .shop_fullwidth .shop_inner_area {
    padding-bottom: 60px;
    margin-bottom: 57px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_widgets.sidebar_widgets .footer_top_inner {
    padding: 56px 0 40px; } }

@media only screen and (max-width: 767px) {
  .footer_widgets.sidebar_widgets .footer_top_inner {
    padding: 56px 0 35px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sidebar_widget.tags_widget ul li a {
    padding: 5px 17px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog_page .sidebar_widget.search_form {
    margin-bottom: 60px; } }

@media only screen and (max-width: 767px) {
  .blog_page .sidebar_widget.search_form {
    margin-bottom: 60px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog_page .sidebar_widget.widget_categories {
    margin-bottom: 56px; } }

@media only screen and (max-width: 767px) {
  .blog_page .sidebar_widget.widget_categories {
    margin-bottom: 56px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog_page .sidebar_widget.recent_post {
    margin-bottom: 55px; } }

@media only screen and (max-width: 767px) {
  .blog_page .sidebar_widget.recent_post {
    margin-bottom: 55px; } }

@media only screen and (max-width: 767px) {
  .blog_details .blog_sidebar .sidebar_widget h3.widget_title {
    font-size: 17px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .widget_list {
    margin-bottom: 55px; } }

@media only screen and (max-width: 767px) {
  .widget_list {
    margin-bottom: 55px; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .widget_list.widget_filter form input {
    width: 65px; } }

@media only screen and (max-width: 767px) {
  .shop_toolbar_wrapper {
    flex-direction: column;
    padding: 15px 10px 5px; } }

@media only screen and (max-width: 767px) {
  .niceselect_option {
    margin-bottom: 16px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .search_bar form .select_option {
    height: 39px;
    line-height: 39px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 0;
    margin-bottom: 25px; } }

@media only screen and (max-width: 767px) {
  .search_bar form .select_option {
    height: 39px;
    line-height: 39px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 0;
    margin-bottom: 25px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .search_bar form .select_option ul.list {
    width: 100%; } }

@media only screen and (max-width: 767px) {
  .search_bar form .select_option ul.list {
    width: 100%; } }

@media only screen and (max-width: 767px) {
  .select_option {
    flex-direction: column; } }

@media only screen and (max-width: 767px) {
  .page_amount {
    margin-bottom: 12px; } }

@media only screen and (max-width: 767px) {
  .page_amount p {
    padding-left: 0;
    margin-left: 0;
    border-left: 0; } }

@media only screen and (max-width: 767px) {
  .shop_toolbar {
    flex-direction: column-reverse;
    padding: 10px 10px 18px; } }

@media only screen and (max-width: 767px) {
  .shop_toolbar_btn {
    margin-bottom: 20px; } }

@media only screen and (max-width: 767px) {
  .shop_fullwidth .shop_toolbar.t_bottom {
    margin-bottom: 0; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .shop_fullwidth .shop_toolbar.t_bottom {
    margin-bottom: 0; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .shop_toolbar.t_bottom {
    margin-bottom: 56px;
    margin-top: 19px; } }

@media only screen and (max-width: 767px) {
  .shop_toolbar.t_bottom {
    padding: 15px 10px 15px;
    margin-top: 20px;
    margin-bottom: 56px; } }

@media only screen and (max-width: 767px) {
  .shop_toolbar.t_bottom .pagination {
    margin-top: 0; } }

.shop_inner_area {
  padding-bottom: 94px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 94px; }

.shop_fullwidth .shop_inner_area {
  padding-bottom: 100px;
  margin-bottom: 96px; }

.footer_widgets.sidebar_widgets .footer_top {
  padding-bottom: 0;
  border-bottom: 0; }

.footer_widgets.sidebar_widgets .footer_top_inner {
  padding: 56px 0 52px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }

.sidebar_widget h3.widget_title {
  padding: 0 0 8px;
  border-bottom: 1px solid #ddd;
  color: #242424;
  font-size: 20px;
  margin: 0 0 15px;
  font-weight: 500;
  line-height: 24px; }

.sidebar_widget.search_form {
  margin-bottom: 45px; }

.sidebar_widget.search_form form {
  position: relative; }

.sidebar_widget.search_form form input {
  width: 100%;
  height: 40px;
  padding: 0 40px 0 20px;
  color: #747474;
  border: 1px solid #ddd; }

.sidebar_widget.search_form form button {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  height: 100%;
  background: inherit;
  border: 0;
  color: #747474;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.sidebar_widget.search_form form button:hover {
  color: #ff6a28; }

.sidebar_widget.widget_categories {
  border: 1px solid #ddd;
  margin-bottom: 39px; }

.sidebar_widget.widget_categories h3.widget_title {
  padding: 12px 15px; }

.sidebar_widget.widget_categories ul {
  padding: 0 0 19px 15px; }

.sidebar_widget.widget_categories ul li {
  line-height: 30px; }

.sidebar_widget.widget_categories ul li a {
  color: #747474; }

.sidebar_widget.widget_categories ul li a:hover {
  color: #ff6a28; }

.sidebar_widget.recent_post {
  margin-bottom: 40px; }

.sidebar_widget.tags_widget ul li {
  display: inline-block; }

.sidebar_widget.tags_widget ul li a {
  padding: 5px 20px;
  border: 1px solid #ddd;
  display: block;
  margin: 0 10px 10px 0;
  font-size: 13px;
  text-transform: capitalize;
  line-height: 20px;
  border-radius: 20px;
  color: #747474; }

.sidebar_widget.tags_widget ul li a:hover {
  background: #ff6a28;
  color: #ffffff;
  border-color: #ff6a28; }

.widget_list {
  margin-bottom: 45px; }

.widget_list:last-child {
  margin-bottom: 0; }

.widget_list h2 {
  color: #242424;
  font-size: 18px;
  margin: 0 0 15px;
  padding: 0 0 5px;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 24px; }

.widget_list > ul > li {
  padding-bottom: 8px; }

.widget_list > ul > li:last-child {
  padding-bottom: 0; }

.widget_list > ul > li > a {
  color: #242424;
  display: block;
  line-height: 27px; }

.widget_list > ul > li > a:hover {
  color: #ff6a28; }

.widget_list > ul > li > a:hover span {
  background: #ff6a28;
  color: #fff; }

.widget_list > ul > li > a span {
  float: right;
  background: #ebebeb;
  color: #c3c3c3;
  font-size: 12px;
  width: 29px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  border-radius: 50%; }

.widget_list.widget_filter form {
  padding-top: 10px; }

.widget_list.widget_filter form input {
  background: none;
  border: none;
  font-size: 12px;
  float: right;
  text-align: right;
  line-height: 31px; }

.widget_list.widget_filter form button {
  height: 30px;
  line-height: 30px;
  padding: 0 16px;
  text-transform: uppercase;
  color: #ffffff;
  background: #242424;
  border: 0;
  border-radius: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.widget_list.widget_filter form button:hover {
  background: #ff6a28; }

.shop_title {
  margin-bottom: 20px; }

.shop_title h1 {
  color: #242424;
  font-size: 33px;
  text-transform: capitalize;
  margin-bottom: 0; }

.shop_toolbar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 8px 10px;
  margin: 0 0 40px; }

.shop_toolbar_btn > button.btn-grid-3 {
  background: url(../../assets/img/icon/grid3.svg) no-repeat scroll center center;
  width: 24px;
  height: 24px; }

.shop_toolbar_btn > button.btn-grid-3.active {
  background: url(../../assets/img/icon/grid3_at.svg) no-repeat scroll center center !important; }

.shop_toolbar_btn > button.btn-grid-4 {
  background: url(../../assets/img/icon/grid4.svg) no-repeat scroll center center;
  width: 24px;
  height: 24px; }

.shop_toolbar_btn > button.btn-grid-4.active {
  background: url(../../assets/img/icon/grid4_at.svg) no-repeat scroll center center !important; }

.shop_toolbar_btn > button.btn-grid-5 {
  background: url(../../assets/img/icon/grid5.png) no-repeat scroll center center;
  width: 24px;
  height: 24px; }

.shop_toolbar_btn > button.btn-grid-5.active {
  background: url(../../assets/img/icon/grid5_at.png) no-repeat scroll center center !important; }

.search_bar form .select_option {
  border: 0;
  background: #f6f6f6;
  border-right: 1px solid #ddd;
  height: 48px;
  border-radius: 0;
  line-height: 48px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px; }

.search_bar form .select_option span {
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 500;
  color: #555; }

.search_bar form .select_option ul.list {
  max-height: 200px;
  overflow: auto;
  z-index: 99; }

.select_option {
  display: flex;
  align-items: center; }

.select_option .nice-select {
  border: 0;
  height: 30px;
  line-height: 29px; }

.select_option .nice-select ul.list {
  top: 114%;
  right: 0;
  width: 200px;
  max-height: 200px;
  overflow: auto; }

.variants_size .select_option, .variants_color .select_option {
  width: 100%;
  border-radius: 0;
  margin-bottom: 25px; }

.variants_size .select_option .list, .variants_color .select_option .list {
  width: 100%;
  border-radius: 0; }

.page_amount p {
  color: #747474; }

.shop_wrapper > div {
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.label_product {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #007a58;
  padding: 0 13px;
  border-radius: 2px; }

.label_product span {
  text-transform: capitalize;
  color: #fff; }

.modal_price span.old_price {
  color: #747474;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 5px; }

.product_ratting ul li {
  display: inline-block; }

.product_ratting ul li a {
  color: #ff6a28; }

.product_list_item .product_ratting {
  margin-bottom: 10px; }

.product_info_inner .product_ratting {
  margin-bottom: 10px; }

.product_info_inner .product_ratting p {
  margin-bottom: 5px; }

.product_info_inner .product_ratting strong {
  margin-top: 10px;
  display: block;
  margin-bottom: 8px; }

.product_ratting ul li.review a {
  color: #747474;
  padding-left: 10px; }

.product_sidebar .product_desc p {
  width: 100%; }

.shop_toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e5e5e5;
  padding: 8px 10px;
  margin: 0 0 40px; }

.shop_toolbar_btn > button.btn-list.active {
  background: url(../../assets/img/icon/list_at.svg) no-repeat scroll center center !important; }

.shop_toolbar_btn > button.btn-list {
  background: url(../../assets/img/icon/list.svg) no-repeat scroll center center;
  width: 20px;
  height: 20px; }

.shop_toolbar_btn > button {
  margin-right: 10px;
  border: 0;
  background: inherit; }

.shop_toolbar.t_bottom {
  justify-content: center;
  margin-bottom: 0; }

.pagination ul li {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #f1f1f1;
  color: #747474;
  border-radius: 3px;
  margin-left: 3px; }

.pagination ul li:first-child {
  margin-left: 0; }

.pagination ul li a {
  display: block;
  border-radius: 3px; }

.pagination ul li a:hover {
  background: #ff6a28;
  color: #ffffff; }

.pagination ul li.current {
  background: #ff6a28;
  color: #ffffff; }

.pagination ul li.next {
  width: 40px; }

.tag_widget ul li {
  display: inline-block; }

.tag_widget ul li a {
  margin: 0 6px 5px 0;
  display: block;
  font-size: 12px;
  font-weight: 400;
  border: 1px solid #ddd;
  background: #ffffff;
  padding: 0 15px;
  line-height: 29px;
  color: #747474;
  border-radius: 25px; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tag_widget ul li a {
    padding: 0 13px; } }

.tag_widget ul li a:hover {
  background: #ff6a28;
  color: #fff;
  border-color: #ff6a28; }

.col-cust-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: max-width;
  padding-right: 15px;
  padding-left: 15px; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .col-cust-5 {
    -ms-flex: 0 0 33%;
    flex: 0 0 33%; } }

@media only screen and (max-width: 767px) {
  .col-cust-5 {
    flex: 0 0 50%;
    max-width: 50%; } }

@media only screen and (max-width: 479px) {
  .col-cust-5 {
    flex: 0 0 100%;
    max-width: 100%; } }
