.user-account-area {
  margin-top: 3rem;
  margin-bottom: 5rem;
  background-color: white; }

.list-group-item {
  height: 3.2rem;
  width: 20rem;
  padding-top: .7rem;
  color: #7e7e7e; }

.list-group-item.active {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  color: #242424;
  font-weight: bolder;
  border-left: 0.4rem solid #ff6a28; }

.list-group-item:hover {
  color: #242424;
  border-left: 0.4rem solid #ff6a28; }

.content-area {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .4rem; }
