

<aside>
    <div class="top">
        <div class="logo">
            <img src="/public/assets/img/logo/logo.png" alt="">
        </div>
        <button id = "close-btn">
            <span class="close material-symbols-sharp">close</span>
        </button>
    </div>
    <div class="sidebar">
        <a href="/admin/dashboard" class = "menuItem active">
            <span class="material-symbols-sharp">dashboard</span> 
            <h3>Dashboard</h3>
        </a>
        <a href="/admin/product" class = "menuItem" >
            <span class="material-symbols-sharp">group</span> 
            <h3>Customer</h3>
        </a>
        <a href="#" class = "menuItem">
            <span class="material-symbols-sharp">receipt_long</span> 
            <h3>Order</h3>
        </a>
        <a href="#" class = "menuItem">
            <span class="material-symbols-sharp">category</span> 
            <h3>Product</h3>
            <span class = "message-count">10</span>
        </a>
        <a href="#" class = "menuItem">
            <span class="material-symbols-sharp">sms_failed</span> 
            <h3>Report</h3>
        </a>
        <a href="#" class = "menuItem">
            <span class="material-symbols-sharp">settings</span> 
            <h3>Settings</h3>
        </a>
        <a href="#" class = "menuItem">
            <span class="material-symbols-sharp">add</span> 
            <h3>Add product</h3>
        </a>
        <a href="#" class = "menuItem">
            <span class="material-symbols-sharp">logout</span> 
            <h3>Log out</h3>
        </a>
    </div>
</aside>