$black_color : #242424;
$gray_color : #999;
$base-color: #ff6a28;
$white-color: #ffffff;
$price-color: rgba(209, 101, 101, 0.884);
$login-color: #F5AB35;
$animation-duration: 3s;
$background-color: #f6f6f9;

$priamry-variant-color: #111e88;
$dark-variant-color: #677482;
$primary-color: #7380ec;
$danger-color: #ff7782;
$success-color: #41f1b6;
$warning-color: #ffbb55;

$light-color: rgba(132,139,200,0.18);
$color-dark: #363949;
$color-light: rgba(132,139,200,0.18);

$card-border-radius: 2rem;
$border-radius-1: 0.4rem;
$border-radius-2: 0.8rem;
$border-radius-3: 1.2rem;

$card-padding: 1.8rem;
$padding: 1.2rem;

$box-shadow: 0 2rem 3rem $color-light;
