@import 'variables';
@import 'global';
@import 'shared';

//=======================Responsive==========================//











//=======================Make up==========================//



.container{
    main{
        margin-left: 1.4rem;
        margin-top: 2.6rem;
        .date{
            display: inline-block;
            background-color: $color-light;
            border-radius: $border-radius-1;
            margin-top: 1rem;
            padding: .5rem 1.6rem;
            input[type='date']{
                border: none;
                background-color: transparent;
                color: $color-dark;
            }


        }

        .insights{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 1.6rem;
            > div{
                background-color: $white-color;
                padding: $card-padding;
                border-radius: $card-border-radius;
                margin-top: 1rem;
                box-shadow: $box-shadow;
                transition: all 300ms ease;
                &:hover{
                    box-shadow: none;
                }

                span{
                    background-color: $primary-color;
                    padding: .5rem;
                    border-radius: 50%;
                    color: $white-color;
                    font-size: 2rem;
                }

                .middle{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    small{
                        margin-top: 1.5rem;
                    }
                }
            }
            h3{
                margin: 1rem 0 0.6rem ;
                font-size: 1rem;
            }
            h1{
                font-size: 1.3rem;
            }

            >div.expenses {
                span{
                    background-color: $danger-color;
                }
                svg{
                    circle{
                        stroke-dashoffset: -30;
                        stroke-dasharray: 200;
                    }
                }
            }

            >div.income{
                span{
                    background-color:$success-color;
                    
                }
    
                svg{
                    circle{
                        stroke-dashoffset: 20;
                        stroke-dasharray: 80;
                    }
                }

            } 
            .progress{
                position: relative;
                width: 92px;
                height: 92px;
                border-radius: 50%;
                margin-left: .6rem;
                .number{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

            }
            svg{
                width: 7rem;
                height: 7rem;
                circle{
                    fill:none;
                    stroke: $primary-color;
                    stroke-width: 14;
                    stroke-linecap: round;
                    transform: translate(5px,5px);
                    stroke-dasharray: 110;
                    stroke-dashoffset: 92;
                }
            }
            






        }

        .recent-orders{
            margin-top: 2rem;
            h2{
                margin-bottom: .8rem;
            }
            table{
                background-color: $white-color;
                width: 100%;
                border-radius: $card-border-radius;
                padding: $card-padding;
                text-align: center;
                box-shadow: $box-shadow;
                transition: all 300ms ease;

                &:hover{
                    box-shadow: none;
                }

                tbody {
                    td{
                        height: 2.8rem;
                        border-bottom:1px solid $light-color;
                        color: $dark-variant-color;
                        
                    }

                    tr:last-child td{
                        border:none;
                    }
                }
            }

            a{
                text-align: center;
                display: block;
                margin: 1rem auto;
                color: $primary-color;
            }
        }

    }

    .right{
        margin-top: 1.4rem;
        margin-right: 1.2rem;
        .top{
            display: flex;
            justify-content: end;
            gap: 2rem;

            button{
                display: none;
            }


        }

        .recent-updates{
            margin-top: 1rem;

            h2{
                margin-bottom: .8rem;
            }

            .updates{
                background-color: $white-color;
                padding: $card-padding;
                border-radius: $card-border-radius;
                box-shadow: $box-shadow;
                transition: all 300ms ease;

                &:hover{
                    box-shadow: none;
                }

                .update{
                    display: grid;
                    grid-template-columns: 2.6rem auto;
                    gap: 1rem;
                    margin-bottom: 1rem;


                    &:last-child{
                        margin-bottom: .3rem;
                    }
                }

                
            }
        }

        .sales-analytics{
            margin-top: 2rem;

            h2{
                margin-bottom: .8rem;
            }

            .item{
                background-color: $white-color;
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-bottom: .7rem;
                padding: 1.4rem $card-padding;
                border-radius: $card-border-radius;
                box-shadow: $box-shadow;
                transition: all 300ms ease;

                &:not(.add-product):hover{
                    box-shadow: none;
                }


                .right{
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    margin: 0;
                    width: 100%;
                }

                .icon{
                    padding: .6rem;
                    color: $white-color;
                    border-radius: 50%;
                    background-color: $primary-color;
                    display: flex;
                }

                &.offline .icon{
                    background-color: $danger-color;
                }

                &.customers .icon{
                    background-color: $success-color;
                }
                &.add-product{
                    background-color: transparent;
                    border: 2px dashed $primary-color;
                    color: $primary-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: border-style 1000ms ease-in;
                    div{
                        display: flex;
                        align-items: center;
                        gap: .6rem;
                        h3{
                            font-weight: 600;
                        }
                    }

                    &:hover{
                        border-style: solid;
                    }
                }
                
            }
        }

    }
    
}




@media only screen and (max-width: 1200px){
    .container{
        main{
            .insights{
                grid-template-columns: 1fr; 
                gap: 0;
            }
            
            .recent-orders{
                width: 94%;
                position: absolute;
                left:50%;
                transform:  translateX(-50%);
                margin: 2rem 0 0 8.8rem;
    
                table{
                    width: 83%;
                    thead tr th:last-child, 
                    thead tr th:first-child{
                        display: none;
                    }
                    tbody tr td:last-child, 
                    tbody tr td:first-child{
                        display: none;
                    }
    
                }
            }
        }
    }
    

    
}

@media screen and (max-width: 768px){
.container{
    main{
        margin-top: 8rem;
        padding: 0 1rem;

        .recent-orders{
            position: relative;
            margin: 3rem  0 0 0;
            width: 100%;

            table{
                width: 100%;
                margin: 0;

            }
        }
    }

    .right{
        width: 94%;
        margin: 0 auto 4rem;
        .top{
            position: fixed;
            top:0;
            left:0;
            align-items: center;
            padding: 0 .8rem;
            height: 4.6rem;
            background-color: $white-color;
            width: 100%;
            margin: 0;
            z-index: 2;
            box-shadow: 0 1rem 1rem $light-color;

            button{
                display: inline-block;
                background: transparent;
                cursor: pointer;
                color: $color-dark;
                position: absolute;
                left: 1rem;
                
            }
        }
    }
}
}
