//color
$black_color : #242424;
$gray_color : #999;
$base-color: #ff6a28;
$white-color: #ffffff;
$price-color: rgba(209, 101, 101, 0.884);
$login-color: #F5AB35;
$box-shadow: 0 2rem 3rem rgba(132,139,200,0.18);
$animation-duration: 3s;