@import 'variable';
@import 'animation';


.contact_area {
    margin-bottom: 60px;
  }
  
  .contact_message h3 {
    font-size: 25px;
    text-transform: capitalize;
    color: #242424;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 25px;
  }
  @media only screen and (max-width: 767px) {
    .contact_message h3 {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  .contact_message p {
    font-size: 14px;
    line-height: 24px;
    color: #242424;
    margin-bottom: 20px;
  }
  .contact_message ul li {
    padding: 13px 0;
    border-top: 1px solid #ddd;
  }
  .contact_message ul li:last-child {
    padding-bottom: 0;
  }
  .contact_message ul li i {
    margin-right: 10px;
  }
  .contact_message ul li a {
    color: #ff6a28;
  }
  .contact_message ul li a:hover {
    color: #242424;
  }
  .contact_message label {
    line-height: 18px;
    color: #242424;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .contact_message input {
    border: 1px solid #ddd;
    height: 45px;
    background: #ffffff;
    width: 100%;
    padding: 0 20px;
    color: #747474;
  }
  .contact_message textarea {
    height: 170px;
    border: 1px solid #ddd;
    background: #ffffff;
    resize: none;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px 20px;
    color: #747474;
  }
  .contact_message button {
    font-weight: 700;
    height: 42px;
    line-height: 42px;
    padding: 0 30px;
    text-transform: uppercase;
    border: none;
    background: #ff6a28;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .contact_message button:hover {
    background: #242424;
  }
  @media only screen and (max-width: 767px) {
    .contact_message.content {
      margin-bottom: 52px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact_message.content {
      margin-bottom: 52px;
    }
  }
  .contact_message.form p.form-messege {
    margin-bottom: 0;
  }
  
  .contact_map {
    margin-bottom: 60px;
  }
  
  .map-area #googleMap {
    height: 460px;
    width: 100%;
  }
  