@import 'variable';
@import 'shared';

//responsive


  .related_product {
    padding-bottom: 44px;
  }
  
  
//make up
.product_details {
    margin-bottom: 53px;
}

.product_details.gallery {
    margin-bottom: 40px;
  }
.product_details.gallery .product_d_right .product_desc p {
    width: 100%;
}

.product-details-tab:hover .s-tab-zoom.owl-carousel .owl-nav div {
    opacity: 1;
    visibility: visible;
}

.single-zoom-thumb {
    margin-top: 20px;
}

.single-zoom-thumb ul li a {
    width: 100%;
}

.s-tab-zoom.owl-carousel .owl-nav {
    display: block;
}

.s-tab-zoom.owl-carousel .owl-nav div {
    position: absolute;
    color: #747474;
    top: 50%;
    transform: translatey(-50%);
    left: 0;
    font-size: 40px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
}

.s-tab-zoom.owl-carousel .owl-nav div:hover {
    color: #ff6a28;
}

.s-tab-zoom.owl-carousel .owl-nav div.owl-next {
    right: 0;
    left: auto;
}

.product_d_right .product_ratting {
    margin-bottom: 14px;
}
  
.product_d_right .product_price {
    margin-bottom: 11px;
}
  
.product_d_right .product_price span.current_price {
    color: $price-color;
    font-size: 15px;
    font-weight: 500;
}
  
.product_d_right .product_desc {
    margin-bottom: 19px;
}
  
.product_d_right .product_desc p {
    width: 626px;
    font-size: 13px;
}

.product_d_right .product_social {
    display: inline-block;
    overflow: hidden;
}

.product_d_right .product_social h3 {
    color: #242424;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 15px;
    float: left;
    margin-bottom: 0;
}
  
.product_d_right .product_social ul {
    float: right;
    line-height: 31px;
    margin-left: 20px;
}

.product_d_right .product_social ul li {
    display: inline-block;
}

.product_d_right .product_social ul li a {
    color: fonts_color;
    margin-right: 8px;
}

.product_d_right .product_social ul li a:hover {
    color: #ff6a28;
}

.product_d_right .product_social ul li:last-child {
    margin-right: 0;
}

.product_d_right h1 {
    color: #747474;
    text-transform: capitalize;
    line-height: 20px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}


.product_ratting ul li {
    display: inline-block;
}

.product_ratting ul li a {
    color: #ff6a28;
}

.product_list_item .product_ratting {
    margin-bottom: 10px;
}

.product_ratting ul li.review a {
    color: #747474;
    padding-left: 10px;
}

.product_info_inner .product_ratting {
    margin-bottom: 0px;
}

.product_info_inner .product_ratting p {
    margin-bottom: 5px;
}

.product_info_inner .product_ratting strong {
    margin-top: 10px;
    display: block;
    margin-bottom: 8px;
}
  

.product_variant.color, .product_variant.size {
    margin-bottom: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .product_variant.color h3, .product_variant.size h3 {
    color: #242424;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 15px;
    margin-bottom: 0;
    margin-right: 80px;
  }
  .product_variant.color .nice-select, .product_variant.size .nice-select {
    height: 35px;
    line-height: 32px;
    margin-bottom: 0;
  }
  .product_variant.color .nice-select ul.list, .product_variant.size .nice-select ul.list {
    max-height: 150px;
    overflow: auto;
  }
  .product_variant.quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
  }

  
.product_variant.quantity label {
    color: #242424;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 15px;
    margin-bottom: 0;
  }

  .product_variant.quantity input {
    width: 94px;
    border: 1px solid #ddd;
    background: none;
    height: 50px;
    padding: 0 5px;
    border-radius: 2px;
    margin-left: 10px;
  }

  .product_variant.quantity button {
    border: 0;
    margin-left: 15px;
    background: #242424;
    font-size: 13px;
    line-height: 50px;
    padding: 0 100px;
    height: 50px;
    border-radius: 3px;
  }

  .product_variant.quantity button:hover {
    background: #ff6a28;
  }

  
.product_d_action {
    margin-bottom: 10px;
  }
  .product_d_action ul li {
    margin-right: 30px;
    display: inline-block;
  }
  .product_d_action ul li:last-child {
    margin-right: 0;
  }
  .product_d_action ul li a {
    font-size: 13px;
    color: #747474;
    text-transform: capitalize;
  }
  .product_d_action ul li a:hover {
    color: #ff6a28;
  }
  
  .product_d_info {
    margin-bottom: 52px;
  }

  .product_d_inner {
    border: 1px solid #ddd;
  }
  .product_d_inner .tab-content {
    padding: 20px 30px 22px;
  }

  .product_info_button ul li a {
    display: block;
    padding: 10px 30px;
    float: left;
    text-transform: uppercase;
    font-size: 16px;
    background: #ddd;
    color: #242424;
    font-weight: 600;
    margin-right: 10px;
  }
  
  .product_info_button ul li a.active {
    background: #ff6a28;
    color: #ffffff;
  }
  .product_info_button ul li a:hover {
    background: #ff6a28;
    color: #ffffff;
  }

  .tab-content > .tab-pane.active {
    display: block;
    height: auto;
    opacity: 1;
    overflow: visible;
  }
  
  .tab-content > .tab-pane {
    display: block;
    height: 0;
    opacity: 0;
    overflow: hidden;
  }

  .product_d_table {
    padding: 10px 0 22px;
  }
  .product_d_table table {
    border-top: 1px solid #ddd;
    width: 100%;
  }
  .product_d_table table tbody tr {
    border-bottom: 1px solid #ddd;
  }
  .product_d_table table tbody tr td {
    padding: 7px 17px;
  }
  .product_d_table table tbody tr td:first-child {
    border-right: 1px solid #ddd;
    width: 30%;
    font-weight: 700;
  }
  
  .product_info_content p {
    color: #555;
  }

  
.product_info_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
  }

  .product_review_form h2 {
    font-size: 17px;
    text-transform: uppercase;
    color: #242424;
    font-weight: 600;
  }
  
  .product_review_form input {
    border: 1px solid #ddd;
    background: none;
    width: 100%;
    height: 40px;
  }
  .product_review_form textarea {
    border: 1px solid #ddd;
    background: none;
    height: 120px;
    resize: none;
    width: 100%;
    margin-bottom: 14px;
  }
  .product_review_form p {
    margin-bottom: 7px;
  }

  .product_review_form button {
    border: none;
    background: #242424;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 15px;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
  }
  .product_review_form button:hover {
    background: #ff6a28;
    color: #ffffff;
  }

  .upsell_product {
    padding-bottom: 56px;
  }
  .upsell_product .product_area {
    padding-bottom: 52px;
    border-bottom: 1px solid #ddd;
  }

  .product_action {
    position: absolute;
    top: 8px;
    right: 8px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .product_action:hover .action_button {
    opacity: 1;
    visibility: visible;
  }


  .hover_action {
    position: relative;
  }
  .hover_action a {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #fff;
    color: #909090;
    font-size: 15px;
    color: #999;
    display: block;
  }
  .hover_action a:hover {
    color: #ff6a28;
  }

  .grid_view .hover_action a {
    width: 43px;
    height: 40px;
    line-height: 38px;
  }

  .action_button {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    max-height: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
  }
  .action_button ul li a {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #fff;
    color: #292929;
    font-size: 15px;
    position: relative;
    display: block;
  }

  .action_button ul li a:hover {
    color: #ff6a28;
  }
  .action_button ul li a::before {
    position: absolute;
    content: "";
    background: #ddd;
    height: 1px;
    width: 25px;
    bottom: 0;
    left: 13px;
  }
  
  .action_button ul li:last-child a::before {
    display: none;
  }
.product_review_container{
  height: 300px;
  overflow-y: scroll;
}

  .scrollbar-warning::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 10px;
  }
  
  .scrollbar-warning::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }
  
  .scrollbar-warning::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffa946d1;
  }
  
  .scrollbar-warning {
    scrollbar-color: #FF8800 #F5F5F5;
  }
  .product_demo{
    margin-left: 0px;
  }


  @media only screen and (max-width: 767px) {
    .product_details {
      margin-bottom: 42px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .product_details.gallery {
      margin-bottom: 42px;
    }
  }
@media only screen and (max-width: 767px) {
    .product_details.gallery {
      margin-bottom: 42px;
    }
}

@media only screen and (max-width: 767px) {
    .product-details-tab {
      margin-bottom: 19px;
    }
}

@media only screen and (max-width: 767px) {
    .variable_product .product-details-tab {
      margin-bottom: 49px;
    }
}

@media only screen and (max-width: 767px) {
    .product_d_right h1 {
      font-size: 20px;
    }
  }
  
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .product_d_right .product_desc p {
      width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .product_d_right .product_desc p {
      width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .product_d_right .product_desc p {
      width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .product_right_sidebar .product_d_right {
      margin-bottom: 42px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .product_sidebar .product_variant.quantity button {
      padding: 0 50px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .product_sidebar .product_variant.quantity button {
      padding: 0 20px;
    }
}
  
@media only screen and (max-width: 767px) {
    .product_variant.quantity {
      margin-bottom: 16px;
    }
  }

  @media only screen and (max-width: 767px) {
    .product_variant.quantity input {
      height: 45px;
      width: 60px;
    }
  }
  
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .product_variant.quantity button {
      padding: 0 45px;
    }
  }
  @media only screen and (max-width: 767px) {
    .product_variant.quantity button {
      padding: 0 27px;
      font-size: 12px;
      line-height: 45px;
      height: 45px;
    }
  }
  
  
@media only screen and (max-width: 767px) {
    .product_d_action ul li {
      margin-right: 15px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .product_d_info {
      margin-bottom: 54px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .product_info_button ul {
      flex-direction: column;
    }
  }
  @media only screen and (max-width: 767px) {
    .product_info_button ul li {
      margin-bottom: 7px;
    }
  }
  @media only screen and (max-width: 767px) {
    .product_info_button ul li:last-child {
      margin-bottom: 0;
    }
  }

  @media only screen and (max-width: 767px) {
    .product_info_button ul li a {
      padding: 6px 17px;
      margin-right: 0;
      font-size: 13px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .shop_reverse .tab-content .row {
      flex-direction: row;
    }
  }
  @media only screen and (max-width: 767px) {
    .shop_reverse .tab-content .row {
      flex-direction: row;
    }
  }

  @media only screen and (max-width: 767px) {
    .related_product {
      padding-bottom: 47px;
    }
  }

  @media only screen and (max-width: 479px) {
    .hover_action a {
      width: 38px;
      height: 35px;
      line-height: 35px;
      font-size: 13px;
    }
  }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .product_sidebar .hover_action a {
      width: 40px;
      height: 35px;
      line-height: 35px;
    }
  }

  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .action_button ul li a {
      height: 41px;
      line-height: 41px;
    }
  }
  @media only screen and (max-width: 479px) {
    .action_button ul li a {
      width: 38px;
      height: 35px;
      line-height: 35px;
      font-size: 13px;
    }
  }

  @media only screen and (max-width: 479px) {
    .action_button ul li a::before {
      left: 7px;
    }
  }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .grid_view .action_button ul li a {
      width: 43px;
      height: 40px;
      line-height: 38px;
    }
  }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .product_sidebar .action_button ul li a {
      width: 40px;
      height: 35px;
      line-height: 35px;
    }
  }


.name-box{
  font-size: large;
}

  // review  star

.rating{
  display: flex;
  flex-direction: row;
  transform: translate(-87%) rotateY(180deg);
  margin: 1rem 0; 
  input{
    display: none;
    &:checked ~ label::after{
      opacity: 1;
    }
  }

  label{
    display: block;
    cursor: pointer;
    width: 20px;
    background-color: white;
    margin-right: .5rem;
    &::before{
      content: "\f005";
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      position: relative;
      display: block;
      font-size: 20px;
      color: #999;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
    &::after{
      content: "\f005";
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      position: absolute;
      transform: translateY(-25px);
      display: block;
      font-size: 20px;
      color: $base-color;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      opacity: 0;
      transition: .5s;
      text-shadow: 0 2px 5px rgba(0,0,0,.2);
    }
    &:hover{
      opacity: 1;
    }

  }
}
//empty span 
.empty_cotainer{
  text-align: end;
  width: 100px;
  height: 50px;
  font-size: large;
  color: #F5AB35;
}

.product_info_inner{
  flex-direction: column;
}
.review-text{
  color: $black_color;
  margin-top: 2.5px;

}

hr.solid {
  border-top: 1px solid $gray_color;
  margin-right: 1.5rem;
}