@import 'variable';

//responsive

@media screen and (max-width:1100px){
  .content-area{
    width: 90%; 
    margin: 0 auto;
  }

  .tag_name{
    visibility: hidden;
  }

  .list-group{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 2rem;
 
  }

  .list-group-item{
    width: 80px;
    border: none;
    height: 2.5rem;
    border: none;
    text-align: center;
    padding-left: 2rem;
    border-radius: none;
  }

  .list-group-item.active{
    border: none;
    background-color: white;
    color: $black-color;
    font-weight: bolder;
    border-bottom: .4rem solid $base-color;  
    border-radius: none; 
  }

  .list-group-item:last-child{
    border-radius: 0% ;
  }
  
}

.user-account-area {
    margin-top: 3rem;
    margin-bottom: 5rem;
    background-color: white; 
    
}


@media screen and (min-width:1100px){
  .list-group-item{
    height: 2.8rem;
    width: 90%;
    padding-top: .7rem;
    color: #7e7e7e
    
}
  
.list-group-item.active{
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
    color: $black-color;
    font-weight: bolder;
    border-left: .4rem solid $base-color;   
}

.list-group-item:hover{
    color: $black-color;
    border-left: .4rem solid $base-color;

}

}

.content-area{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .4rem;
}

.account-info-container{
  
  .inform-list .inform-item{
    float: left;
    margin: 1rem;
    width: 10rem;
    
  }

  .inform-item .content{
  font-weight: 600;
  color:black;
  margin-top: -10px;
  }
  .inform-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 2rem;
  }

  .avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 2rem auto;
    .avatar-edit {
        position: absolute;
        right: 2.5rem;
        z-index: 1;
        top: 10px;
        input {
            display: none;
            + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }

                i{
                    margin-left: .6rem;
                    margin-top: .7rem;
                }
                
            }
        }
    }
    .avatar-preview {
        width: 10rem;
        height: 10rem;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.avatar-note{
    margin-left: 38%;
    margin-bottom: .5rem;
    font-size: .9rem;
    color: black;
}
  
.btn{
  margin-left: 2rem;
  font-size: 12px;
  width: 16%;
  margin-bottom: 1rem;
}



}
hr.solid {
    border-top: 1px solid black;
    margin: 0 2rem;
  }

.tag_title{
    color: black;
    font-size: 17px;
    margin-left: 1rem;
}


.input-container{
  position: relative;
  margin-bottom: 1.2rem;
  margin-left: 2rem;
}
.form-input{
  border: 1px solid rgb(117, 109, 109);
  color:rgb(117, 109, 109);
  border-radius: 4px;
  width: 60%;
  height: 40px;
  padding: 0 12px;
  transition: 0.25 ease;
}

.form-input:focus{
  border-color: $base-color;
}

.form-label{
  position: absolute;
  top:20px;
  transform: translateY(-50%);
  left:13px;
  user-select: none;
  pointer-events: none;
  transition: .25s ease-out;
  font-size: 11px;
}
.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label{
  top:0;
  padding: 0px 3px 1px 3px;
  display: inline-block;
  background-color: white;
  color: $base-color;
}

.form-input:hover{
  border-color: $base-color;    
}


.select-label{
  position: absolute;
  transform: translateY(-50%);
  left:13px;
  user-select: none;
  pointer-events: none;
  font-size: 11px;
  top:0;
  padding: 0px 3px 1px 3px;
  display: inline-block;
  background-color: white;
}

.form-input:focus + .select-label{
  color: $base-color;
}

.tag_title{
  font-weight: 500;
  font-size: 18px;
  margin-top: 1rem;
}

.tag_explaint{
  margin-left: 1rem;
  margin-top: -.6rem;
}

.history-container{
  .btn{
    margin-left: 2rem;
    font-size: 12px;
    width: 16%;
    margin-bottom: 1rem;
  }
  
  .form-input{
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .form-label{
    top:35px;
  }
  .filter-wrapper{
    display: flex;
    flex-direction: row;
    .input-container{
      margin: .1rem;
      margin-left: 1rem;
      width: 100%;
      input{
        width: 60%;
      }
      .form-input:first-child{
        width: 100%;
      }
      .form-input:focus + .form-label{
        top:15px;
        padding: 0px 3px 1px 3px;
        display: inline-block;
        background-color: white;
        color: $base-color;
      }
  
      .date-label{
        position: absolute;
        top:15px;
        transform: translateY(-50%);
        left:13px;
        user-select: none;
        pointer-events: none;
        font-size: 11px;
        padding: 0px 3px 1px 3px;
        display: inline-block;
        background-color: white;
      }
  
      .form-input:focus + .date-label{
        top:15px;
        padding: 0px 3px 1px 3px;
        display: inline-block;
        background-color: white;
        color: $base-color;
      }
  
      
    }
    button{
      margin-top: 1rem;
      width: 100px;
      height: 40px;
      font-size: 14px;
    }
  }
  
  .table-container{
    width: 100%;
    padding: .5rem 1rem;
  }
  .data-table{
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: separate;
    border-left: 0;
    border-radius: 4px;
    border-spacing: 0px;
    button{
      margin: 0;
      width: 30%;
      height: 20%;
      font-size: 10px;
    }
    thead {
      display: table-header-group;
      vertical-align: middle;
      border-color: inherit;
      border-collapse: separate;
      color: black;
      font-weight: 400;
    }
    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
        height: 20px;
    }
    th, td {
        padding: 5px 4px 6px 4px; 
        text-align: left;
        vertical-align: top;
        border-left: 1px solid #ddd;
        text-align: center;  
    }
    td {
        border-top: 1px solid #ddd;    
    }
    thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
        border-radius: 4px 0 0 0;
    }
    thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
        border-radius: 0 0 0 4px;
    }
    
    
    
  }
  
  .more-btn{
    margin: .5rem auto;
    display: flex;
    border: none;
    background-color: white;
    font-weight: bold;
    color: rgb(65, 132, 219);
    font-size: 15px;
  }
    
  
  
    
}

.wishlist-container{
  .table-container{
    width: 100%;
    padding: .5rem 1rem;
  }
  .table_desc {
    border: 1px solid #ddd;
    margin-bottom: 59px;
    margin-top: 2px;
  }
  .table_desc .cart_page table {
    width: 100%;
  }
  .table_desc .cart_page table thead tr th {
    border-bottom: 3px solid $base-color;
    border-right: 1px solid #ddd;
    color: #747474;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
  }
  .table_desc .cart_page table tbody tr td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: center;
    padding: 5px;
  }
  .table_desc .cart_page table tbody tr td.product_thumb {
    min-width: 40px;
  }
  .table_desc .cart_page table tbody tr td.product_thumb img {
    width: inherit;
  }
  .table_desc .cart_page table tbody tr td.product_name {
    min-width: 100px;
  }
  .table_desc .cart_page table tbody tr td.product_name a {
    color: #747474;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
  }
  .table_desc .cart_page table tbody tr td.product_name a:hover {
    color: $base-color;
  }
  .table_desc .cart_page table tbody tr td.product_remove {
    min-width: 20px;
  }
  .table_desc .cart_page table tbody tr td.product_remove a {
    font-size: 15px;
    color: $base-color;
  }
  .table_desc .cart_page table tbody tr td.product_remove a:hover {
    color: $base-color;
  }
  .table_desc .cart_page table tbody tr td.product-price {
    min-width: 100px;
    color: $base-color;
    font-size: 12px;
    font-weight: 600;
  }
  .table_desc .cart_page table tbody tr td.product_total {
    min-width: 100px;
  }
  .table_desc .cart_page table tbody tr td.product_quantity {
    min-width: 100px;
  }
  .table_desc .cart_page table tbody tr td.product_quantity input {
    width: 60px;
    height: 40px;
    padding: 0 5px 0 10px;
    background: none;
    border: 1px solid #ddd;
  }
  
  .cart_page table thead tr:last-child th, .table_desc table tbody tr td:last-child {
    border-right: 0;
  }
  
  .more-btn{
    margin: .5rem auto;
    display: flex;
    border: none;
    background-color: white;
    font-weight: bold;
    color: rgb(65, 132, 219);
    font-size: 15px;
  }
}


.password-container{
  
  
  .form-container{
    width: 44%;
    float: left;
  }
  .separator{
    width: 1px;
    height: 150px;
    float: left;
    border-radius: 10px;
    background-color: rgb(126, 121, 121);
    margin: .2rem 1rem
  }
  .separator::after{
    content: '\200b';

  }
  .note-container{
    width: 45%;
    float:right;
  }
  .input-container{
    width: 100%;
    .form-input{
      width: 80%;
    }
  }

  h3{
    color: black;
    font-size: 14px;
    margin-left: 1rem;
  }

  h4{
    color: black;
    font-size: 13px;
  }

  p:not(.tag_explaint){
    font-size: 12px;
    margin-left: .5rem;
  }

  .btn{
    margin-left: 2rem;
    font-size: 12px;
    width: 16%;
    margin-bottom: 1rem;
    width: 50%;
    height: 10%;
  }

  
}

.address-managerment-container{
  .address-item-container{
    display: flex;
    width: 100%;
    height: 10%;
    margin-bottom: 1rem;
    display: block;
    overflow: hidden;
    border: 1px solid transparent;
    padding: .5rem 0;
  }
  .address-item-container:hover{
    border: 1px solid $base-color;
    border-radius: 5px;
  }
  .add-address-btn{
    width: 100%;
    height: 5%;
    border: none;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
    color: $base-color;
    margin: .5rem auto;
    padding: .5rem;
    
  }
  .info-container{
    width: 65%;
    float: left;
  }
  .user-name{
    margin-left: 1rem;
    font-size: 14px;
    color: black;
    width: 50%;
    display: inline;
  }

  .user-info{
    margin: 0;
    margin-left: 1rem;
    font-size: 12px;
    color: black;
  }
  span:not(.name-wrapper){
    color:#7e7e7e;
   
  }
  .name-wrapper{
    display: inline-block;
    margin-bottom: .5rem;
  }
  .delete-btn,.modified-btn{
    float: right;
    width: 10%;
    margin: .5rem
  }
  .status{
    width: 50%;
    display: inline;
    font-size: 11px;
    margin-left: 1rem;
    color: #26BC4E;
  }
  
}


#addModal{
  input,select{
    width: 100%;
    margin: 0 auto;
  }
}

.form-check{
  margin: .5rem auto;
  .form-check-input{
    margin-left: .5rem;
  }
  .form-check-label{
    margin-left: .4rem;
    transform: translateY(-2px);
  }
}
.validator-message{
  color: rgb(209, 23, 23);
  margin-left: 10px;
}