@import 'variable';

.background{
    .succes{
        background-color: #198754;
    }
    .fai{
        background-color: rgb(177, 80, 80);
    }
    height:100%;
    width:100%;
    display: flex;
    align-items: center; 
    justify-content: center;

    .container{
        background-color: white; 
        width: 55%;
        height: 60%;
        border-radius: 2rem;
        box-shadow: $box-shadow;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h3{
            font-weight: bold;
            color: black;
        }
        .fa-circle-check{
            color: #198754;
            font-size: 70px;
            margin-bottom: 2rem;
        }
        .fa-circle-xmark{
            color: rgb(177, 80, 80);
            font-size: 70px;
            margin-bottom: 2rem;
        }
        a{
            border-radius: 5rem;
            width: 10%;
            height: 8%;
            text-align: center;
            padding-top: .4rem;
            color: white;
            font-weight: 600;
            box-shadow: $box-shadow;
        }
    }
}