@import 'variable';
@import 'global';
@import 'animation';

// reponsive

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .shop_area .list_view.active {
      margin-bottom: 54px;
    }
  }
@media only screen and (max-width: 767px) {
.shop_area .list_view.active {
    margin-bottom: 54px;
}
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .shop_reverse .shop_inner_area > .row {
      flex-direction: column-reverse;
    }
  }
@media only screen and (max-width: 767px) {
    .shop_reverse .shop_inner_area > .row {
      flex-direction: column-reverse;
    }
}
  
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .shop_reverse .tab-content .row {
      flex-direction: row;
    }
}

@media only screen and (max-width: 767px) {
    .shop_reverse .tab-content .row {
      flex-direction: row;
    }
}


@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .shop_inner_area {
      padding-bottom: 74px;
      margin-bottom: 74px;
    }
  }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .shop_inner_area {
      padding-bottom: 74px;
      margin-bottom: 74px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .shop_inner_area {
      padding-bottom: 54px;
      margin-bottom: 57px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .shop_inner_area {
      padding-bottom: 54px;
      margin-bottom: 57px;
    }
  }
@media only screen and (max-width: 767px) {
    .shop_inner_area {
      padding-bottom: 54px;
      margin-bottom: 57px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .shop_fullwidth .shop_inner_area {
      padding-bottom: 80px;
      margin-bottom: 76px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .shop_fullwidth .shop_inner_area {
      padding-bottom: 80px;
      margin-bottom: 76px;
    }
}

@media only screen and (max-width: 767px) {
    .shop_fullwidth .shop_inner_area {
      padding-bottom: 60px;
      margin-bottom: 57px;
    }
  }
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .shop_fullwidth .shop_inner_area {
      padding-bottom: 60px;
      margin-bottom: 57px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer_widgets.sidebar_widgets .footer_top_inner {
      padding: 56px 0 40px;
    }
}

@media only screen and (max-width: 767px) {
    .footer_widgets.sidebar_widgets .footer_top_inner {
      padding: 56px 0 35px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .sidebar_widget.tags_widget ul li a {
      padding: 5px 17px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .blog_page .sidebar_widget.search_form {
      margin-bottom: 60px;
    }
  }
@media only screen and (max-width: 767px) {
    .blog_page .sidebar_widget.search_form {
      margin-bottom: 60px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .blog_page .sidebar_widget.widget_categories {
      margin-bottom: 56px;
    }
}
@media only screen and (max-width: 767px) {
    .blog_page .sidebar_widget.widget_categories {
      margin-bottom: 56px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .blog_page .sidebar_widget.recent_post {
      margin-bottom: 55px;
    }
}
@media only screen and (max-width: 767px) {
    .blog_page .sidebar_widget.recent_post {
      margin-bottom: 55px;
    }
}

@media only screen and (max-width: 767px) {
    .blog_details .blog_sidebar .sidebar_widget h3.widget_title {
      font-size: 17px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .widget_list {
      margin-bottom: 55px;
    }
  }
@media only screen and (max-width: 767px) {
    .widget_list {
      margin-bottom: 55px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .widget_list.widget_filter form input {
      width: 65px;
    }
}
 
@media only screen and (max-width: 767px) {
  .shop_toolbar_wrapper {
    flex-direction: column;
    padding: 15px 10px 5px;
  }
}

@media only screen and (max-width: 767px) {
  .niceselect_option {
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .search_bar form .select_option {
    height: 39px;
    line-height: 39px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 0;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .search_bar form .select_option {
    height: 39px;
    line-height: 39px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 0;
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .search_bar form .select_option ul.list {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .search_bar form .select_option ul.list {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .select_option {
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .page_amount {
    margin-bottom: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .page_amount p {
    padding-left: 0;
    margin-left: 0;
    border-left: 0;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .single_product {
    margin-bottom: 33px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_product {
    margin-bottom: 33px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_product {
    margin-bottom: 33px;
  }
}
@media only screen and (max-width: 767px) {
  .single_product {
    margin-bottom: 33px;
  }
}

@media only screen and (max-width: 767px) {
  .grid_list .single_product {
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .grid_list .product_thumb {
    flex: 0 0 100%;
    min-width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .grid_list .product_thumb {
    flex: 0 0 40.667%;
    min-width: 40.667%;
  }
}

@media only screen and (max-width: 767px) {
  .product_list_item .product_thumb {
    margin-bottom: 18px;
  }
}


@media only screen and (max-width: 767px) {
  .quick_button {
    text-align: center;
  }
}
@media only screen and (max-width: 479px) {
  .quick_button {
    bottom: 8px;
    left: 20px;
    right: 20px;
  }
}

@media only screen and (max-width: 479px) {
  .quick_button a {
    line-height: 30px;
    padding: 0 8px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .product_sidebar .quick_button {
    bottom: 12px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .product_sidebar .quick_button a {
    line-height: 35px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .grid_view .quick_button {
    bottom: 5px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .grid_view .quick_button a {
    line-height: 37px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .product_content h3 {
    font-size: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .grid_list .product_content.list_content {
    flex: 0 0 100%;
    min-width: 100%;
    margin-left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .grid_list .product_content.list_content {
    flex: 0 0 55.333%;
    min-width: 55.333%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .product_d_right .product_desc p {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .product_d_right .product_desc p {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .product_d_right .product_desc p {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .shop_toolbar {
    flex-direction: column-reverse;
    padding: 10px 10px 18px;
  }
}

@media only screen and (max-width: 767px) {
  .shop_toolbar_btn {
    margin-bottom: 20px;
  }
}


@media only screen and (max-width: 767px) {
  .shop_fullwidth .shop_toolbar.t_bottom {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .shop_fullwidth .shop_toolbar.t_bottom {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .shop_toolbar.t_bottom {
    margin-bottom: 56px;
    margin-top: 19px;
  }
}
@media only screen and (max-width: 767px) {
  .shop_toolbar.t_bottom {
    padding: 15px 10px 15px;
    margin-top: 20px;
    margin-bottom: 56px;
  }
}
@media only screen and (max-width: 767px) {
  .shop_toolbar.t_bottom .pagination {
    margin-top: 0;
  }
}


// make up

.shop_inner_area {
    padding-bottom: 94px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 94px;
}

.shop_fullwidth .shop_inner_area {
    padding-bottom: 100px;
    margin-bottom: 96px;
}

.footer_widgets.sidebar_widgets .footer_top {
    padding-bottom: 0;
    border-bottom: 0;
}

.footer_widgets.sidebar_widgets .footer_top_inner {
    padding: 56px 0 52px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.sidebar_widget h3.widget_title {
    padding: 0 0 8px;
    border-bottom: 1px solid #ddd;
    color: #242424;
    font-size: 20px;
    margin: 0 0 15px;
    font-weight: 500;
    line-height: 24px;
}
.sidebar_widget.search_form {
    margin-bottom: 45px;
}
.sidebar_widget.search_form form {
    position: relative;
}
.sidebar_widget.search_form form input {
    width: 100%;
    height: 40px;
    padding: 0 40px 0 20px;
    color: #747474;
    border: 1px solid #ddd;
}
.sidebar_widget.search_form form button {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    height: 100%;
    background: inherit;
    border: 0;
    color: #747474;
    font-size: 16px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.sidebar_widget.search_form form button:hover {
    color: $base-color;
}
.sidebar_widget.widget_categories {
    border: 1px solid #ddd;
    margin-bottom: 39px;
}
.sidebar_widget.widget_categories h3.widget_title {
    padding: 12px 15px;
}
.sidebar_widget.widget_categories ul {
    padding: 0 0 19px 15px;
}
.sidebar_widget.widget_categories ul li {
    line-height: 30px;
}
.sidebar_widget.widget_categories ul li a {
    color: #747474;
}
.sidebar_widget.widget_categories ul li a:hover {
    color: $base-color;
}
.sidebar_widget.recent_post {
    margin-bottom: 40px;
}
.sidebar_widget.tags_widget ul li {
    display: inline-block;
}
.sidebar_widget.tags_widget ul li a {
    padding: 5px 20px;
    border: 1px solid #ddd;
    display: block;
    margin: 0 10px 10px 0;
    font-size: 13px;
    text-transform: capitalize;
    line-height: 20px;
    border-radius: 20px;
    color: #747474;
}

.sidebar_widget.tags_widget ul li a:hover {
    background: $base-color;
    color: $white-color;
    border-color: $base-color;
}

.widget_list {
    margin-bottom: 45px;
}

.widget_list:last-child {
    margin-bottom: 0;
}

.widget_list h2 {
    color: #242424;
    font-size: 18px;
    margin: 0 0 15px;
    padding: 0 0 5px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 24px;
}

.widget_list > ul > li {
    padding-bottom: 8px;
}

.widget_list > ul > li:last-child {
    padding-bottom: 0;
}

.widget_list > ul > li > a {
    color: #242424;
    display: block;
    line-height: 27px;
}

.widget_list > ul > li > a:hover {
    color: #ff6a28;
}

.widget_list > ul > li > a:hover span {
    background: #ff6a28;
    color: #fff;
}

.widget_list > ul > li > a span {
    float: right;
    background: #ebebeb;
    color: #c3c3c3;
    font-size: 12px;
    width: 29px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    border-radius: 50%;
}

.widget_list.widget_filter form {
    padding-top: 10px;
  }
  
.widget_list.widget_filter form input {
    background: none;
    border: none;
    font-size: 12px;
    float: right;
    text-align: right;
    line-height: 31px;
}

.widget_list.widget_filter form button {
    height: 30px;
    line-height: 30px;
    padding: 0 16px;
    text-transform: uppercase;
    color: #ffffff;
    background: #242424;
    border: 0;
    border-radius: 30px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
  
.widget_list.widget_filter form button:hover {
    background: #ff6a28;
}

.shop_title {
  margin-bottom: 20px;
}

.shop_title h1 {
  color: #242424;
  font-size: 33px;
  text-transform: capitalize;
  margin-bottom: 0;
}

.shop_toolbar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 8px 10px;
  margin: 0 0 40px;
}

.shop_toolbar_btn > button.btn-grid-3 {
  background: url(../../assets/img/icon/grid3.svg) no-repeat scroll center center;
  width: 24px;
  height: 24px;
}

.shop_toolbar_btn > button.btn-grid-3.active {
  background: url(../../assets/img/icon/grid3_at.svg) no-repeat scroll center center !important;
}

.shop_toolbar_btn > button.btn-grid-4 {
  background: url(../../assets/img/icon/grid4.svg) no-repeat scroll center center;
  width: 24px;
  height: 24px;
}

.shop_toolbar_btn > button.btn-grid-4.active {
  background: url(../../assets/img/icon/grid4_at.svg) no-repeat scroll center center !important;
}

.shop_toolbar_btn > button.btn-grid-5 {
  background: url(../../assets/img/icon/grid5.png) no-repeat scroll center center;
  width: 24px;
  height: 24px;
}

.shop_toolbar_btn > button.btn-grid-5.active {
  background: url(../../assets/img/icon/grid5_at.png) no-repeat scroll center center !important;
}

.search_bar form .select_option {
  border: 0;
  background: #f6f6f6;
  border-right: 1px solid #ddd;
  height: 48px;
  border-radius: 0;
  line-height: 48px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.search_bar form .select_option span {
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 500;
  color: #555;
}

.search_bar form .select_option ul.list {
  max-height: 200px;
  overflow: auto;
  z-index: 99;
}

.select_option {
  display: flex;
  align-items: center;
}

.select_option .nice-select {
  border: 0;
  height: 30px;
  line-height: 29px;
}

.select_option .nice-select ul.list {
  top: 114%;
  right: 0;
  width: 200px;
  max-height: 200px;
  overflow: auto;
}

.variants_size .select_option, .variants_color .select_option {
  width: 100%;
  border-radius: 0;
  margin-bottom: 25px;
}

.variants_size .select_option .list, .variants_color .select_option .list {
  width: 100%;
  border-radius: 0;
}

.page_amount p {
  color: #747474;
}


.shop_wrapper > div {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.single_product {
  margin-bottom: 40px;
}

.single_product:hover .product_thumb a.secondary_img {
  opacity: 1;
  visibility: visible;
}

.single_product:hover .product_action {
  opacity: 1;
  visibility: visible;
}

.single_product:hover .quick_button {
  opacity: 1;
  visibility: visible;
}

.grid_list .single_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upsell_product .single_product {
  margin-bottom: 0;
}

.related_product .single_product {
  margin-bottom: 0;
}

.related_product .single_product {
  margin-bottom: 0;
}

.product_thumb {
  position: relative;
  margin-bottom: 14px;
}

.product_thumb a.secondary_img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.table_desc .cart_page table tbody tr td.product_thumb {
  min-width: 159px;
}

.table_desc .cart_page table tbody tr td.product_thumb img {
  width: inherit;
}

.grid_list .product_thumb {
  margin-bottom: 0;
  min-width: 33.333333%;
  margin-right: 15px;
}

.quick_button {
  position: absolute;
  bottom: 15px;
  left: 10px;
  right: 10px;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.quick_button a {
  line-height: 45px;
  background: #fff;
  color: #999;
  padding: 0 10px;
  font-weight: normal;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 13px;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  display: block;
}

.quick_button a:hover {
  color: #ff6a28;
}

.double_base .product_sale {
  top: 46px;
  padding: 0 15px;
}

.product_sale {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #ff6a28;
  padding: 0 13px;
  border-radius: 2px;
}

.product_sale span {
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  line-height: 23px;
}

.label_product {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #007a58;
  padding: 0 13px;
  border-radius: 2px;
}

.label_product span {
  text-transform: capitalize;
  color: #fff;
}


.product_content h3 {
  line-height: 22px;
  font-size: 13px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0;
}

.product_content h3 a {
  color: #999;
}
.product_content h3 a:hover {
  color: #ff6a28;
}
.product_content span {
  font-size: 13px;
  font-weight: 500;
  color: #242424;
}
.product_content span.old_price {
  color: #a4a4a4;
  text-decoration: line-through;
  margin-left: 5px;
}

.product_content.list_content {
  display: none;
}

.grid_list .product_content.grid_content {
  display: none;
}

.grid_list .product_content.list_content {
  display: block;
  min-width: 0 0 66.666667%;
  margin-left: 15px;
}

.product_list_item .product_content h3 {
  margin-bottom: 10px;
}

.product_d_right .product_price span.current_price {
  color: #242424;
  font-size: 13px;
  font-weight: 500;
}

.modal_price span.old_price {
  color: #747474;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 5px;
}

.product_ratting ul li {
  display: inline-block;
}

.product_ratting ul li a {
  color: #ff6a28;
}

.product_list_item .product_ratting {
  margin-bottom: 10px;
}

.product_info_inner .product_ratting {
  margin-bottom: 10px;
}

.product_info_inner .product_ratting p {
  margin-bottom: 5px;
}

.product_info_inner .product_ratting strong {
  margin-top: 10px;
  display: block;
  margin-bottom: 8px;
}

.product_ratting ul li.review a {
  color: #747474;
  padding-left: 10px;
}

.product_d_right .product_ratting {
  margin-bottom: 14px;
}

.product_d_right .product_price {
  margin-bottom: 11px;
}

.product_d_right .product_desc {
  margin-bottom: 19px;
}

.product_d_right .product_desc p {
  width: 626px;
  font-size: 13px;
}

.product_sidebar .product_desc p {
  width: 100%;
}

.product_details.gallery .product_d_right .product_desc p {
  width: 100%;
}

.shop_toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e5e5e5;
  padding: 8px 10px;
  margin: 0 0 40px;
}

.shop_toolbar_btn > button.btn-list.active {
  background: url(../../assets/img/icon/list_at.svg) no-repeat scroll center center !important;
}

.shop_toolbar_btn > button.btn-list {
  background: url(../../assets/img/icon/list.svg) no-repeat scroll center center;
  width: 20px;
  height: 20px;
}

.shop_toolbar_btn > button {
  margin-right: 10px;
  border: 0;
  background: inherit;
}

.shop_toolbar.t_bottom {
  justify-content: center;
  margin-bottom: 0;
}

.pagination ul li {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #f1f1f1;
  color: #747474;
  border-radius: 3px;
  margin-left: 3px;
}

.pagination ul li:first-child {
  margin-left: 0;
}

.pagination ul li a {
  display: block;
  border-radius: 3px;
}

.pagination ul li a:hover {
  background: #ff6a28;
  color: #ffffff;
}

.pagination ul li.current {
  background: #ff6a28;
  color: #ffffff;
}

.pagination ul li.next {
  width: 40px;
}


.tag_widget ul li {
  display: inline-block;
}
.tag_widget ul li a {
  margin: 0 6px 5px 0;
  display: block;
  font-size: 12px;
  font-weight: 400;
  border: 1px solid #ddd;
  background: #ffffff;
  padding: 0 15px;
  line-height: 29px;
  color: #747474;
  border-radius: 25px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tag_widget ul li a {
    padding: 0 13px;
  }
}
.tag_widget ul li a:hover {
  background: #ff6a28;
  color: #fff;
  border-color: #ff6a28;
}