<%- contentFor("head") %> 

<link rel="stylesheet" href="/public/stylesheets/alert.css">
<title>Alert</title>
<%- contentFor("body") %>


    <button>Show Alert</button>
      <div class="alert hide">
         <span class="fas fa-exclamation-circle"></span>
         <span class="msg">Warning: This is a warning alert!</span>
         <div class="close-btn">
            <span class="fas fa-times"></span>
         </div>
      </div> 
<%- contentFor("end") %>

<script src="/public/javascripts/user/alert.js"></script>