<div class="modal fade" id="add-popup" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="needs-validation" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title" class="font-weight-bold ">Notify</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">               
                    Please select size and colour of product before add to cart
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button " data-bs-dismiss="modal" >OK</button>
                </div>
            </form>
        </div>
    </div>
</div>
