
<div class="off_canvars_overlay">
                
</div>
<div class="offcanvas_menu">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="canvas_open">
                    <a href="javascript:void(0)"><i class="fa-solid fa-bars"></i></i></a>
                </div>
                <div class="offcanvas_menu_wrapper">
                    <div class="canvas_close">
                          <a href="javascript:void(0)"><i class="fa-solid fa-xmark"></i></a>  
                    </div>
                    <div class="welcome_text">
                       <ul>
                           <li><span>Free Delivery:</span> Take advantage of our time to save event</li>
                           <li><span>Free Returns *</span> Satisfaction guaranteed</li>
                       </ul>
                    </div>
                    
                    <div class="top_right">
                        <% if(auth == true){ %>
                            <ul> 
                                  <li class="top_links"><a href="#" class = "my_account">My Account <i class="fa-solid fa-user"></i></a>
                                          <ul class="dropdown_links">
                                                  <li><a href="/userprofile">My Wish List </a></li>
                                                 <li><a href="/userprofile" class = "accountLink">My Account </a></li>
                                                 <li><a href="#">Sign In</a></li>
                                                 <li><a href="compare.html">Compare Products  </a></li>
                                           </ul>
                                  </li>
                           </ul>
                           <% } else{ %>
                               <ul> 
                                   <li class="top_links">
                                    <form action="/login" method="get" class = "login-form">
                                        <input type="hidden" class="current-url" name="currentUrl">
                                        <input type="button" class="login-btn" value="Login/Register">
                                    </form>
                                   </li>
                                
                                      <!-- <li class="top_links"><a href="/login">Login/Register</i></a> -->
                               </ul>
                           <% } %>
                    </div> 
                    <div class="search_bar">
                        <form action="#">
                            <select class="select_option" name="select" id="categori">
                                <option selected value="1">All Categories</option>
                                <option  value="2">Accessories</option>
                                <option  value="3">Bridge</option>
                                <option  value="4">Hub</option>
                                <option  value="5">Repeater</option>
                                <option  value="6">Switch</option>
                                <option  value="7">Video Games</option>
                                <option  value="8">PlayStation 3</option>
                                <option  value="9">PlayStation 4</option>
                                <option  value="10">Xbox 360</option>
                                <option  value="11">Xbox One</option>
                            </select>
                            <input placeholder="Search entire store here..." type="text" class="search-input">
                           
                            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                             
                        </form>
                        <section class="suggesstion-box"></section>
                        
                    </div>
                    <div class="cart_area">
                        <div class="middel_links">
                           <ul>
                               <li><a href="/login">Login / Register</a></li>
                           </ul>

                        </div>
                        <div class="cart_link">
                            <!--mini cart-->
                                <%- include("mini-cart.ejs",{cartList})%> 
                            <!--mini cart end-->
                        </div>
                    </div>
                    <div class="contact_phone">
                        <p>Call Free Support: <a href="tel:+(84)0823XXXXXX">(+84) 0823 XXX XXX </a></p>
                    </div>
                    <div id="menu" class="text-left ">
                        <ul class="offcanvas_main_menu">
                            <% if(pageName == "homePage"){ %>
                                <li class="menu-item-has-children active">
                            <%}else{%>
                                <li class="menu-item-has-children">
                            <%}%>
                                <a href="/">Home</a>
                            </li>
                            <% if(pageName == "shopPage"){ %>
                                <li class="menu-item-has-children active">
                            <%}else{%>
                                <li class="menu-item-has-children">
                            <%}%>
                                <a href="/shopcategory">Shop</a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children">
                                        <a href="/shopcategory">Shop Layouts</a>
                                        <ul class="sub-menu">
                                            <li><a href="/shopcategory">shop</a></li>
                                            <li><a href="shop-fullwidth.html">Full Width</a></li>
                                            <li><a href="shop-fullwidth-list.html">Full Width list</a></li>
                                            <li><a href="shop-right-sidebar.html">Right Sidebar </a></li>
                                            <li><a href="shop-right-sidebar-list.html"> Right Sidebar list</a></li>
                                            <li><a href="shop-list.html">List View</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <% if(pageName == "blogPage" || pageName == "blogDetailPage"){ %>
                                <li class="menu-item-has-children active">
                            <%}else{%>
                                <li class="menu-item-has-children">
                            <%}%>
                                <a href="/blogcategory">blog</a>
                            </li>
                            <% if(pageName == "userPage"){ %>
                                <li class="menu-item-has-children active">
                            <%}else{%>
                                <li class="menu-item-has-children">
                            <%}%>
                                <a href="/userprofile" class = "accountLink">my account</a>
                            </li>
                            <% if(pageName == "aboutPage"){ %>
                                <li class="menu-item-has-children active">
                            <%}else{%>
                                <li class="menu-item-has-children">
                            <%}%>
                                <a href="/about">About Us</a>
                            </li>
                            <% if(pageName == "contactPage"){ %>
                                <li class="menu-item-has-children active">
                            <%}else{%>
                                <li class="menu-item-has-children">
                            <%}%>
                                <a href="/contact"> Contact Us</a> 
                            </li>
                        </ul>
                    </div>
                    <div class="offcanvas_footer">
                        <span><a href="#"><i class="fa fa-envelope-o"></i> tuantq666@gmail.com</a></span>
                        <ul>
                            <li class="facebook"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li class="twitter"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li class="pinterest"><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
                            <li class="google-plus"><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                            <li class="linkedin"><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Offcanvas menu area end-->
<!--header area start-->
<header class="header_area header_three">
    <!--header top start-->
    <div class="header_top">
        <div class="container-fluid">   
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12">
                    <div class="welcome_text">
                       <ul>
                           <li><span>Free Delivery:</span> Take advantage of our time to save event</li>
                           <li><span>Free Returns *</span> Satisfaction guaranteed</li>
                       </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="top_right text-right">
                        <% if(auth == true){ %>
                         <ul> 
                               <li class="top_links"><a href="#" class = "my_account">My Account <i class="fa-solid fa-user"></i></a>
                                       <ul class="dropdown_links">
                                               <li><a href="/userprofile">My Wish List </a></li>
                                              <li><a href="/userprofile" class = "accountLink">My Account </a></li>
                                              <li><a href="#">Compare Products  </a></li>
                                              <li><a href="/logout">Log Out</a></li>
                                        </ul>
                               </li>
                        </ul>
                        <% } else{ %>
                            <ul> 
                                <li class="top_links">
                                    <form action="/login" method="get" class = "login-form">
                                        <input type="hidden" class="current-url" name="currentUrl">
                                        <input type="button" class="login-btn" value="Login/Register">
                                    </form>
                                   </li>
                                   <!-- <li class="top_links"><a href="/login">Login/Register</i></a> -->
                            </ul>
                        <% } %>
                    </div>   
                </div>
            </div>
        </div>
    </div>
    <!--header top start-->

    <!--header middel start-->
    <div class="header_middel">
        <div class="container-fluid">
            <div class="middel_inner">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <div class="search_bar">
                            <form action="#">                          
                                <input placeholder="Search entire store here..." type="text" class="search-input">
                             
                               
                                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </form>
                            <section class="suggesstion-box"></section>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="logo">
                            <a href="/home"><img src="/public/assets/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cart_link">
                            <div class="cart_area">
                                <div class="cart_link">
                                    <!--mini cart-->
                                        <%- include("mini-cart.ejs",{cartList})%> 
                                    <!--mini cart end-->
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="horizontal_menu">
                <div class="left_menu">
                    <div class="main_menu"> 
                        <nav>  
                            <ul>
                                <% if(pageName == "homePage"){ %>
                                    <li class="active">
                                <%}else{%>
                                    <li>
                                <%}%>
                                    <a href="/home">Home </a>
                                </li>
                                <% if(pageName == "shopPage" || pageName == "productDetailPage"){ %>
                                    <li class="mega_items active">
                                <%}else{%>
                                    <li class="mega_items">
                                <%}%>
                                    <a href="/shopcategory">shop</i>
                                </li>
                                <% if(pageName == "blogPage" || pageName == "blogDetailPage"){ %>
                                    <li class="active">
                                <%}else{%>
                                    <li>
                                <%}%>
                                    <a href="/blogcategory">blog</i>
                                </li>
                                
                            </ul> 
                        </nav> 
                    </div>
                </div>
                <div class="logo_container">
                    <a href="/home"><img src="/public/assets/img/logo/logo.png" alt=""></a>
                </div>
                <div class="right_menu">
                    <div class="main_menu"> 
                        <nav>  
                            <ul>
                                <% if(pageName == "aboutPage"){ %>
                                    <li class="active">
                                <%}else{%>
                                    <li>
                                <%}%>
                                    <a href="/about">About us</a>
                                </li>
                                <% if(pageName == "contactPage"){ %>
                                    <li class="active">
                                <%}else{%>
                                    <li>
                                <%}%>
                                    <a href="/contact">Contact Us</a>
                                </li>
                            </ul> 
                        </nav> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--header middel end-->

    <!--header bottom start-->
    <div class="header_bottom sticky-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="main_menu_inner">
                        <div class="main_menu"> 
                            <nav>  
                                <ul>

                                    <% if(pageName == "homePage"){ %>
                                        <li class="active">
                                    <%}else{%>
                                        <li>
                                    <%}%>
                                        <a href="/home">Home </a>
                                    </li>
                                    <% if(pageName == "shopPage" || pageName == "productDetailPage"){ %>
                                        <li class="active">
                                    <%}else{%>
                                        <li>
                                    <%}%>
                                        <a href="/shopcategory">shop </a>
                                    </li>
                                    <% if(pageName == "aboutPage"){ %>
                                        <li class="active">
                                    <%}else{%>
                                        <li>
                                    <%}%>
                                        <a href="/about">About us</a>
                                    </li>
                                    <% if(pageName == "blogPage" || pageName == "blogDetailPage"){ %>
                                        <li class="active">
                                    <%}else{%>
                                        <li>
                                    <%}%>
                                        <a href="/blogcategory">blog</a>
                                    </li>
                                    <% if(pageName == "contactPage"){ %>
                                        <li class="active">
                                    <%}else{%>
                                        <li>
                                    <%}%>
                                        <a href="/contact">Contact Us</a>
                                    </li>
                                </ul>   
                            </nav> 
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <!--header bottom end-->
</header>

