
    <div class="cart_item top">
       <div class="cart_img">
           <a href="#"><img src="/public/assets/img/s-product/product.jpg" alt=""></a>
       </div>
        <div class="cart_info">
            <a href="#">Apple iPhone SE 16GB</a>

            <span>1x $1-3vjjeiovjeiojr</span>

        </div>
        <div class="cart_remove">
            <a href="#"><i class="fa-solid fa-xmark"></i></a>
        </div>
    </div>
    <div class="cart_item bottom">
       <div class="cart_img">
           <a href="#"><img src="/public/assets/img/s-product/product2.jpg" alt=""></a>
       </div>
        <div class="cart_info">
            <a href="#">Marshall Portable  Bluetooth</a>
                <span> 1x $160.00</span>
        </div>
        <div class="cart_remove">
            <a href="#"><i class="fa-solid fa-xmark"></i></a>
        </div>
    </div>
    <div class="cart__table">
        <table>
            <tbody>
                <tr>
                    <td class="text-left">Sub-Total :</td>
                    <td class="text-right">$150.00</td>
                </tr>
             
                <tr>
                    <td class="text-left">Total :</td>
                    <td class="text-right">$184.00</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="cart_button view_cart">
        <a href="/cart">View Cart</a>
    </div>
    <div class="cart_button checkout">
        <a href="/checkout">Checkout</a>
    </div>
