<%- contentFor("head") %> 

<link rel="stylesheet" href="/public/stylesheets/contact-page.css">
<%- contentFor("body") %> 


<!--breadcrumbs area start-->
<div class="breadcrumbs_area other_bread">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>/</li>
                        <li>contact us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>
<!--breadcrumbs area end-->


<!--contact area start-->
<div class="contact_area">
    <div class="container">   
        <div class="row">
            <div class="col-lg-6 col-md-12">
               <div class="contact_message content">
                    <h3>contact us</h3>    
                     <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum formas human. qui sequitur mutationem consuetudium lectorum. Mirum est notare quam</p>
                    <ul>
                        <li><i class="fa fa-fax"></i>  Address : 670 Kha Van Can, Tp.Thu Duc, Tp.Ho Chi Minh</li>
                        <li><i class="fa fa-phone"></i> <a href="#"></a>0823.066.746</li>
                        <li><i class="fa fa-envelope"></i> 19522482@gm.uit.edu.vn</li>
                    </ul>             
                </div> 
            </div>
            <div class="col-lg-6 col-md-12">
               <div class="contact_message form">
                    <h3>Tell us your project</h3>   
                    <form id="contact-form" method="POST"  action="assets/mail.php">
                        <p>  
                           <label> Your Name (required)</label>
                            <input name="name" placeholder="Name *" type="text"> 
                        </p>
                        <p>       
                           <label>  Your Email (required)</label>
                            <input name="email" placeholder="Email *" type="email">
                        </p>
                        <p>          
                           <label>  Subject</label>
                            <input name="subject" placeholder="Subject *" type="text">
                        </p>    
                        <div class="contact_textarea">
                            <label>  Your Message</label>
                            <textarea placeholder="Message *" name="message"  class="form-control2" ></textarea>     
                        </div>   
                        <button type="submit"> Send</button>  
                        <p class="form-messege"></p>
                    </form> 

                </div> 
            </div>
        </div>
    </div>    
</div>

<!--contact area end-->

 <!--contact map start-->
<div class="contact_map">
   <div class="container-fluid">
        <div class="row">
            <div class="col-12">
               <div class="map-area">
                  <div id="googleMap"></div>
               </div>
            </div>
        </div>
    </div>
</div>
<!--contact map end-->

<%- contentFor("end") %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdWLY_Y6FL7QGW5vcO3zajUEsrKfQPNzI"></script>
<script  src="https://www.google.com/jsapi"></script>
<script src="public/javascripts/user/map.js"></script>
