<%- contentFor("head") %> 

<link rel="stylesheet" href="/public/stylesheets/user/text-page.css">
<%- contentFor("body") %> 

<button id = "test-btn" style="margin: 5rem">Test</button>
<!--<div class="breadcrumbs_area other_bread">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>/</li>
                        <li>Policy & term</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>

<div class = "content-container container">
    <h4>Terms & Condition</h4>
    <h5>1.Introduction</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie quam est, ultrices blandit risus pretium eu. Phasellus justo orci, tristique tincidunt mauris ut, luctus sollicitudin metus. Nullam scelerisque diam risus, sodales congue dui consequat ut. Etiam et aliquam erat. Curabitur tempor bibendum maximus. Etiam facilisis nisl elit. Cras egestas, lacus non sagittis cursus, quam libero hendrerit augue, bibendum commodo mauris tellus in felis. Vivamus bibendum libero nec neque dictum, non dictum risus suscipit. Quisque eget hendrerit elit, vel rhoncus velit. In hac habitasse platea dictumst. Sed pulvinar rutrum justo, sed auctor magna aliquam quis.</p>
    <p>Aenean eu fermentum sem, eget dapibus libero. Vestibulum tincidunt suscipit tellus, luctus dictum est efficitur vitae. Mauris in lorem sem. Aliquam metus dolor, mattis ac mattis nec, varius eget tellus. Nullam consectetur vel tortor eu tincidunt. Etiam ut elit sed libero elementum pellentesque. </p>
    <h5>2.User manual</h5>
    <p>Nulla sed purus vel neque tempus dignissim non vel nulla. Proin in auctor erat. Cras sit amet sem varius, consectetur felis nec, auctor lacus. Proin elementum quam in tempus dignissim. Maecenas rutrum dolor eu libero suscipit imperdiet. Etiam malesuada maximus pretium. Suspendisse potenti.</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non urna vel neque ultrices pulvinar non id turpis. Proin consectetur dolor semper velit elementum ullamcorper. Pellentesque elementum elit nec mauris tincidunt, in imperdiet lectus condimentum. Sed at orci ut turpis eleifend semper quis sit amet lacus. Nulla facilisi. Mauris pretium dolor at dapibus condimentum. Integer sed posuere ex. Fusce egestas pretium purus at luctus. Proin sit amet risus eget mi facilisis rhoncus non vitae felis. Integer consectetur nec lacus in lacinia. Suspendisse et tortor tristique, tempus tortor vel, maximus ante. Pellentesque imperdiet nunc vel risus dictum venenatis. Praesent ipsum quam, facilisis eget ante dignissim, tempus suscipit lectus.
    </p>
    <p>
        Sed et risus vel ligula ullamcorper congue. Aenean interdum ex lacus, id vehicula augue faucibus sed. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed metus turpis, tincidunt eu enim consequat, egestas viverra tellus.
    </p>
    <h5>3.Order and Price</h5>
    <p>Nulla sed purus vel neque tempus dignissim non vel nulla. Proin in auctor erat. Cras sit amet sem varius, consectetur felis nec, auctor lacus. Proin elementum quam in tempus dignissim. Maecenas rutrum dolor eu libero suscipit imperdiet. Etiam malesuada maximus pretium. Suspendisse potenti.</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non urna vel neque ultrices pulvinar non id turpis. Proin consectetur dolor semper velit elementum ullamcorper. Pellentesque elementum elit nec mauris tincidunt, in imperdiet lectus condimentum. Sed at orci ut turpis eleifend semper quis sit amet lacus. Nulla facilisi. Mauris pretium dolor at dapibus condimentum. Integer sed posuere ex. Fusce egestas pretium purus at luctus. Proin sit amet risus eget mi facilisis rhoncus non vitae felis. Integer consectetur nec lacus in lacinia. Suspendisse et tortor tristique, tempus tortor vel, maximus ante. Pellentesque imperdiet nunc vel risus dictum venenatis. Praesent ipsum quam, facilisis eget ante dignissim, tempus suscipit lectus.
    </p>
    <p>
        Sed et risus vel ligula ullamcorper congue. Aenean interdum ex lacus, id vehicula augue faucibus sed. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed metus turpis, tincidunt eu enim consequat, egestas viverra tellus.
    </p>
    <h5>4.Trademarks and Copyrights</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie quam est, ultrices blandit risus pretium eu. Phasellus justo orci, tristique tincidunt mauris ut, luctus sollicitudin metus. Nullam scelerisque diam risus, sodales congue dui consequat ut. Etiam et aliquam erat. Curabitur tempor bibendum maximus. Etiam facilisis nisl elit. Cras egestas, lacus non sagittis cursus, quam libero hendrerit augue, bibendum commodo mauris tellus in felis. Vivamus bibendum libero nec neque dictum, non dictum risus suscipit. Quisque eget hendrerit elit, vel rhoncus velit. In hac habitasse platea dictumst. Sed pulvinar rutrum justo, sed auctor magna aliquam quis.</p>
    <p>Aenean eu fermentum sem, eget dapibus libero. Vestibulum tincidunt suscipit tellus, luctus dictum est efficitur vitae. Mauris in lorem sem. Aliquam metus dolor, mattis ac mattis nec, varius eget tellus. Nullam consectetur vel tortor eu tincidunt. Etiam ut elit sed libero elementum pellentesque. </p>
</div>

<%- contentFor("end") %>
-->
<%- contentFor("end") %>
<script src="public/javascripts/user/require.js"></script>
<script  src="public/javascripts/user/test.js"></script>